@import "../variables";
@import "../helpers/fontface";
@import "../helpers/fontstyle";
@import "../helpers/mixin_css3";


#maincontainer-wrapper {

    .content-box {
        position: relative;
        margin-bottom: 0;
        background-color: $color-white;
        cursor: pointer;

        a {
            display: block;

            &:hover {
                .type-title {
                    color: $color-white;
                    background-color: $color-blue;

                    .fa-angle-right {
                        background-image: url(../../../../Images/icon/icon-right-white.svg);
                    }
                }
            }
        }

        ul {
            @extend .font-thm;
            @extend .content-thm;
            list-style: square;
            color: $color-primary;
            margin: 0;
            padding: 0;
            padding-left: 20px;

            li {
                @extend .font-thm;
                @extend .content-thm;
                color: $color-text;
                margin: 0;
                margin-bottom: 5px;
            }
        }

        .img-width {
            width: 100%;
        }

        .title {
            font-weight: bold;
            font-family: $font-bold;
            font-size: $text-sub-content;
            line-height: $text-sub-content;
            color: $color-primary;
            border-top: 4px solid $color-blue !important;
            padding: 25px 15px 12.5px;
            margin: 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .sub-title {
            padding: 12.5px 15px 25px 15px;
            transition: all 0.3s ease-in-out;
            margin-top: auto;

            .desc {
                color: $color-text;
                transition: all 0.3s ease-in-out;

                .desc-title {
                    font-weight: bold;
                    @extend .font-kiti;
                    @extend .content-kiti;
                    color: $color-text;
                    margin-bottom: 15px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    transition: all 0.3s ease-in-out;
                }

                .desc-price {
                    font-weight: bold;
                    @extend .font-kiti;
                    @extend .sub-content-kiti;
                    color: $color-primary;
                    margin-bottom: 10px;
                    height: auto;
                    max-height: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all 0.3s ease-in-out;
                }

                .desc {
                    @extend .font-thm;
                    @extend .content-thm;
                    font-size: $text-sub-title-thm;
                    line-height: $text-content-lh-thm;
                    color: $color-hover;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 7;
                    overflow: hidden;
                    transition: all 0.3s ease-in-out;
                }
            }

            @media screen and (max-width: $screen-md) {
            }
        }

        &:hover {
            .sub-title {
                .desc {
                    .desc {
                        color: $color-primary;
                    }
                }
            }
        }

        .type-title {
            font-weight: bold;
            @extend .font-kiti;
            @extend .small-kiti;
            min-height: 70px;
            color: #555;
            background-color: white;
            border-top: 2px solid $color-blue !important;
            padding: 20px 5px;
            margin: 0;
            transition: all 0.3s ease-in-out;

            div:first-child {
                font-size: $text-x-content;
                line-height: $text-x-content;
            }

            i {
                float: right;
                line-height: $height-menu-type;
            }

            .fa {
                position: absolute;
                font-size: 26px;
                line-height: 43px;
            }

            .fas {
                @extend .content-kiti;
                width: 8px;
                height: auto;
                color: $color-white;
            }

            .fa-angle-right {
                text-indent: -9999px;
                background-image: url(../../../../Images/icon/icon-right.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto;
            }

            @media screen and (max-width: $screen-md) {
                min-height: auto;
                padding: 15px;
            }
        }

        .type-box {
            padding: 0;
            background-color: $body-bg;

            a {
                display: block;
                padding: 25px 15px;
                border-top: 1px solid #DDD;
                transition: all 0.3s ease-in-out;

                &:hover {
                    border-color: $color-primary;

                    .type-date {
                        color: $color-primary;
                    }

                    .type-content {
                        color: $color-primary;
                    }
                }
            }

            .type-date {
                font-family: $font-bold;
                font-size: $text-sub-content;
                line-height: $text-sub-content;
                color: $color-primary;
                margin-bottom: 15px;
            }

            .type-content {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                font-family: $font-bold;
                font-size: $text-sub-content;
                line-height: $text-sub-content;
                color: $color-text;
            }
        }

        .youtube-box {
            position: relative;
            display: block;

            .fas {
                width: $text-content;
                height: $text-content;
                font-size: $text-content;
                line-height: 10px;
                color: $color-white;
            }

            .fa-youtube {
                position: absolute;
                width: 40px;
                height: 30px;
                line-height: 30px;
                left: $text-icon;
                bottom: $text-icon;
                text-indent: -9999px;
                background-image: url(../../../../Images/icon/ic-youtube.png);
                background-position: center center;
                background-repeat: no-repeat;
            }

            .fa-angle-right {
                position: absolute;
                width: $text-content;
                height: $text-content;
                left: 15px;
                bottom: 0;
                text-indent: -9999px;
                background-image: url(../../../../Images/icon/icon-right.svg);
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        .content {
            cursor: default;

            .title {
                font-weight: bold;
                @extend .font-kiti;
                @extend .content-kiti;
                height: auto;
                border-top: 0 !important;
                color: $color-primary;
                padding: 15px 0 10px 0;
                margin: 0;
            }

            .desc {
                @extend .font-thm;
                @extend .content-thm;
                height: auto;
                color: $color-text;
                padding: 0 0 10px 0;
                margin: 0;

                span {
                    @extend .font-thm;
                    @extend .content-thm;
                }
            }
        }

        .card {
            position: absolute;
            width: 100px;
            height: 30px;
            line-height: 30px;
            left: 0;
            top: 0;
            padding: 0 15px;
            color: $color-white;
            background-color: $color-secondary;
        }

        &.package {
            .title {
                font-family: $font-bold;
                font-size: 25px;
                line-height: 28px;
                color: $color-text;
            }

            .sub-title {
                .desc {
                    .desc-price {
                        font-family: $font-bold;
                        font-size: 25px;
                        line-height: 28px;
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .menu-box {
        margin-bottom: 20px;
        background-color: $color-white;
        cursor: pointer;

        a {
            color: $color-text;
        }

        .img-width {
            width: 100%;
        }

        .type-title {
            font-weight: bold;
            @extend .font-kiti;
            @extend .content-kiti;
            min-height: 70px;
            color: $color-primary;
            background-color: $color-blue-light;
            border-bottom: 4px solid $color-blue !important;
            padding: 20px 15px;
            margin: 0;
            cursor: pointer;

            i {
                float: right;
                line-height: 70px;
            }

            .fa {
                position: absolute;
                font-size: 26px;
                line-height: 43px;
            }

            .fas {
                @extend .content-kiti;
                width: 8px;
                height: auto;
                color: $color-white;
            }

            .fa-angle-right {
                text-indent: -9999px;
                background-image: url(../../../../Images/icon/icon-right.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto;
            }

            &:hover {
                color: $color-white;
                background-color: $color-blue;
                cursor: pointer;

                .fa-angle-right {
                    background-image: url(../../../../Images/icon/icon-right-white.svg);
                }
            }
        }

        .type-box {
            padding: 0 15px;
            background-color: $body-bg;


            .type-content {
                @extend .font-kiti;
                @extend .content-kiti;
                color: $color-text;
                border-top: 1px solid $color-grey;
                padding: 15px 10px;
                cursor: pointer;

                a {
                    color: $color-text;

                    &:hover {
                        color: $color-primary;
                    }
                }

                &:hover {
                    color: $color-primary;
                }
            }
        }

        .title {
            font-weight: bold;
            @extend .font-kiti;
            @extend .content-kiti;
            color: $color-primary;
            border-top: 4px solid $color-blue !important;
            padding: 15px 15px 10px 15px;
            margin: 0;
            height: auto;
        }

        .sub-title {
            padding: 0px 15px 15px 15px;

            .desc {
                @extend .font-kiti;
                @extend .content-kiti;
                color: $color-text;
                max-height: 215px;
                overflow: hidden;
                text-overflow: ellipsis;

                .desc-title {
                    font-weight: bold;
                    @extend .font-kiti;
                    @extend .content-kiti;
                    color: $color-text;
                    margin-bottom: 10px;
                }

                &:hover {
                    color: $color-primary;
                }
            }
        }

        .icons {
            display: inline-block;
            vertical-align: middle;
            padding: 0;

            img {
                width: 25px;
                height: 25px;
            }
        }

        @media screen and (max-width: $screen-md) {

            .type-title {
                min-height: auto;
                padding: 15px;
            }

            .sub-title {

                .desc {
                    max-height: unset;
                }
            }
        }
    }

    .desc-type {
        font-size: $text-content;
        color: $color-secondary;
        padding: 0 15px;
        margin-bottom: 5px;
        cursor: default;
    }

    .download-box {
        background-color: $color-white;
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
        padding-bottom: 15px;

        .download {
            height: $height-input;
            line-height: $text-small;
            display: inline-block;
            vertical-align: middle;
            padding: 5px 15px;
            margin: 0;

            .label-custom {
                display: inline-block;
                vertical-align: middle;
                @extend .font-kiti;
                @extend .content-kiti;
                line-height: $text-small;
                color: $color-text;
            }

            .custom-icons {
                display: inline-block;
                vertical-align: top;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        display: inline-block;
                        margin: 0 3px;

                        a {
                            display: block;
                            height: $text-small;
                            line-height: $text-small;
                            padding: 0;
                            margin: 0;
                            background-position: 0 0;
                            background-repeat: no-repeat;
                        }
                    }
                }

                img {
                    vertical-align: middle;
                    width: auto;
                    height: 30px;
                    margin: 0;
                }
            }
        }

        .share {
            float: right;
            height: $text-small;
            line-height: $text-small;
            display: inline-block;
            vertical-align: middle;
            padding: 5px 15px;
            margin: 0;
            cursor: pointer;

            .custom-icons {
                display: inline-block;
                vertical-align: top;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        display: inline-block;
                        margin: 0 3px;

                        a {
                            display: block;
                            height: $text-small;
                            line-height: $text-small;
                            padding: 0;
                            margin: 0;
                            background-position: 0 0;
                            background-repeat: no-repeat;


                            .fas-share {
                                line-height: $text-small;
                            }

                            .fa-share-alt:before {
                                color: transparent;
                            }

                            .fa-share-alt {
                                right: 0 !important;
                                top: 0 !important;
                                background-image: url(../../../../Images/icon/ic-share-primary.svg) !important;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: 25px 20px;

                                @media screen and (max-width: $screen-sm) {
                                    background-size: 25px 15px;
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                .custom-icons {

                    ul {

                        li {

                            a {
                                .fa-share-alt {
                                    background-image: url(../../../../Images/icon/ic-share-secondary.svg) !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .count {
            @extend .font-kiti;
            @extend .content-kiti;
            padding: 5px 15px 10px 15px;
        }
    }

    .download-position {
        margin-top: 0px;
    }



    .list-step-order {
        margin-top: 30px;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                width: 33.3333%;
                float: left;

                .name-step-wrapper {
                    .name-step {
                        font-family: $font-bold;
                        font-size: 22px;
                        line-height: 22px;
                        color: #cccccc;
                        float: left;
                        padding-left: 0px;
                        padding-top: 4px;
                    }

                    .percent-step {
                        text-align: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        border: 1px solid #6F90C8;
                        float: left;
                        visibility: hidden;
                        position: relative;
                        margin-left: 10px;

                        .num {
                            font-family: $default-font;
                            font-size: 16px !important;
                            line-height: 16px !important;
                            color: #444444;
                        }

                        .success {
                            font-family: $default-font;
                            font-size: 16px !important;
                            line-height: 16px !important;
                            color: #00AFF0;

                            i {
                                padding-top: 7px;
                            }
                        }
                    }
                }

                .line-step {
                    position: relative;
                    border-bottom: 2px solid #cccccc;
                    margin-top: 10px;

                    span {
                        position: absolute;
                        left: 0;
                        top: -7px;
                        background-color: #cccccc;
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                    }
                }
            }

            li.active {
                .name-step-wrapper {
                    .name-step {
                        color: $color-primary;
                    }

                    .percent-step {
                        visibility: visible;
                    }
                }

                .line-step {
                    border-bottom: 2px solid #00AFF0;

                    span {
                        background-color: #00AFF0;
                    }
                }
            }
        }

        @media screen and (max-width: 767px) {
            ul {
                li {
                    .name-step-wrapper {
                        position: relative;

                        .name-step {
                            position: absolute;
                        }

                        .percent-step {
                            visibility: hidden !important;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 575px) {
            ul {
                li {
                    .name-step-wrapper {
                        .percent-step {
                            visibility: hidden !important;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 425px) {
            ul {
                li {
                    .name-step-wrapper {
                        .name-step {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .package-header {
        .text-head {
            font-family: $font-bold;
            font-size: 27px;
            line-height: 28px;
            color: $color-text;

            span {
                font-family: $font-bold;
                color: $color-primary;
            }
        }

        .shared-social {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .text-shared {
                font-family: $font-bold;
                font-size: 22px;
                line-height: 26px;
                color: #858585;
                margin-right: 10px;
            }

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;

                li {
                    list-style: none;
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .table-package {
        margin-top: 40px;

        .table {
            font-family: $font-bold;
            font-size: 25px;
            line-height: 28px;
            border: none;

            thead {
                color: $color-primary;
                background-color: #D7EBFF;
                border: none;
                border-top: 2px solid #00AFF0;

                tr {
                    th {
                        border-bottom: none;
                        padding: 20px 15px;
                        font-size: 25px !important;
                        line-height: 28px !important;
                    }
                }
            }

            tbody {
                tr {
                    &.bg-title {
                        background-color: #E8E8E8;

                        .title {
                            color: #000000;
                            font-size: 25px;
                            line-height: 28px;
                            background-color: inherit;
                        }

                        td {
                            //background-color: #F4F5F5;
                        }
                    }

                    td {
                        border: none;
                        background-color: #FAFBFB;
                        padding: 20px 15px;

                        .table {
                            &--inner {
                                width: 100%;
                            }
                        }

                        .button {
                            .btn-med {
                                display: block;
                                text-align: center;
                                height: auto !important;
                                background-color: #858585;
                                color: $color-white;

                                i {
                                    background-image: url(../../../../Images/icon/icon-right-white.svg) !important;
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                }
                            }
                        }

                        a {
                            &:hover {
                                color: $color-primary;
                            }
                        }

                        .waiting {
                            color: #ED1C24;
                        }

                        .pending {
                            color: #EDA51C;
                        }

                        .success {
                            color: #00AC4F;
                        }
                    }
                }
            }

            tfoot {
                background-color: #F4F5F5;
                border: none;
                border-top: 2px solid #00AFF0;

                tr {
                    border-bottom: none;

                    td {
                        color: $color-primary;
                        border: none;

                        &.font-lg {
                            font-size: 38px;
                        }

                        .text-total {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            span {
                                &.font-lg {
                                    font-size: 38px;
                                }
                            }
                        }
                    }
                }
            }

            &.table-addon {
                table-layout: fixed;
                background-color: #FAFBFB;

                tbody {
                    tr {
                        td {
                            .addon {
                                position: relative;

                                label:before {
                                    content: url(../../../../Images/icon/icon-check-white.svg);
                                    position: absolute;
                                    z-index: 100;
                                }

                                :checked + label:before {
                                    content: url(../../../../Images/icon/icon-check-white-active.svg);
                                }


                                input[type=checkbox] {
                                    display: none;
                                }
                                /*pure cosmetics:*/
                                img {
                                    width: 150px;
                                    height: 150px;
                                }

                                label {
                                    margin: 10px;
                                    display: flex;
                                    justify-content: space-between;

                                    span {
                                        font-family: $font-bold;
                                        color: #858585;
                                        height: auto;
                                        cursor: pointer;

                                        &.text {
                                            padding-left: 55px;
                                            text-align: left;
                                        }

                                        &.price {
                                            padding-left: 10px;
                                            padding-right: 40px;
                                            position: relative;

                                            .link {
                                                position: absolute;
                                                top: 0;
                                                right: 0;

                                                a {
                                                    img {
                                                        width: 30px;
                                                        height: 30px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                :disabled + label {
                                    span {
                                        color: #C6C6C6;
                                        cursor: not-allowed;
                                    }
                                }

                                &--text {
                                    font-family: $font-bold;
                                    color: #858585;
                                    display: flex;
                                    justify-content: space-between;
                                    padding-left: 65px;

                                    span {
                                        font-family: $font-bold;
                                        color: #858585;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.table-layout-fix {
                table-layout: fixed;
            }

            &.fold-table {
                tr.view {
                    cursor: pointer;

                    td.text-left{

                        &.package-table-head{
                            font-family: "KitithadaBold";
                            color: $color-primary;

                            span{
                                font-family: "KitithadaBold";
                                color: $color-primary;
                            }
                        }
                        
                    }

                    td.text-right {
                        position: relative;

                        &:after {
                            content: "";
                            background-image: url('../../../../Images/icon/icon-down-primary.svg');
                            background-repeat: no-repeat;
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: 30px;
                            right: 30px;
                        }
                    }


                    &.open {
                        .package-table-head {
                            background-color: $color-primary !important;

                            .text {
                                color: #fff !important;
                            }
                        }

                        td.text-right {
                            &:after {
                                content: "";
                                background-image: url('../../../../Images/icon/icon-up-white.svg');
                                background-repeat: no-repeat;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                top: 30px;
                                right: 30px;
                            }
                        }
                    }
                }

                tr.fold {
                    display: none;

                    &.open {
                        display: table-row;
                    }
                }
            }

            @media screen and (max-width: 767px) {
                width: 900px;

                tbody {
                    tr {
                        &.bg-title {
                            .title {
                                font-size: 20px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .package-table-head {
        background-color: #F4F5F5 !important;
        border-bottom: solid 1px white !important;
    }

    .box-detail-order {
        margin-bottom: 40px;

        p {
            font-family: $font-bold;
            font-size: 22px;
            line-height: 22px;
            color: #ED1C24;
            margin-bottom: 20px;
        }

        .group-detail {
            .slc-custom {
                position: relative;
                margin-bottom: 20px;
            }
        }

        .collapsible-content {
            .collapse-head {
                .button {
                    font-family: $font-bold;
                    font-size: 22px;
                    line-height: 22px;

                    .fa {
                        position: absolute;
                        font-size: 26px;
                        line-height: 43px;
                    }

                    .fas {
                        width: $text-icon;
                        height: $base-fontsize-mobile;
                        font-size: $text-content;
                        line-height: 10px;
                        color: $color-white;
                    }

                    .fa-angle-up {
                        text-indent: -9999px;
                        background-image: url(../../../../Images/icon/icon-up-secondary.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                    }

                    .fa-angle-down {
                        text-indent: -9999px;
                        background-image: url(../../../../Images/icon/icon-down-secondary.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                }
            }

            .collapse-body {
                margin-top: 10px;

                .content {
                    .group-list {
                        padding: 25px 30px;

                        .topic {
                            font-family: $font-bold;
                            font-size: 38px;
                            line-height: 34px;
                            color: $color-text;
                            margin-bottom: 8px;
                        }

                        p {
                            color: $color-text;

                            span {
                                font-family: $font-bold;
                                font-size: 22px;
                                line-height: 22px;
                            }
                        }

                        &:nth-child(1n) {
                            background-color: #F4F5F5;
                        }

                        &:nth-child(2n) {
                            background-color: #FAFBFB;
                        }
                    }
                }
            }
        }

        .order-result {
            background-color: #F4F5F5;
            padding: 15px;

            h2 {
                margin-bottom: 10px;
            }

            p {
                color: $color-text;
                margin-bottom: 0;
            }

            .order-bank {
                //display: flex;
                //align-items: center;
                .logo-bank {
                    margin-right: 20px;
                }

                .account-number {
                    font-family: $font-bold;
                    font-size: 38px;
                    color: $color-primary;
                }
            }
        }

        .remark {
            p {
                font-size: 25px;
                line-height: 28px;
                color: $color-text;

                span {
                    font-family: $font-bold;
                    font-size: 27px;
                    color: $color-secondary;
                }
            }
        }
    }

    @media screen and (max-width: $screen-md) {
        .download-box {
            margin: 0;
        }
    }
    //img
    .img {
        img {
            margin-bottom: 15px;

            &:focus {
                cursor: pointer;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .border {
            border: 0 !important;
            border-bottom: 4px solid $color-blue !important;
            outline: none;
        }

        .noborder {
            border-bottom: 4px solid $color-secondary;
            outline: none;
        }

        .board {
            background-color: $color-white;
        }

        .img-width {
            width: 100%;
        }
    }
    //END img
    //news
    .download {
        margin: 25px 0;

        .file-download {
            background-color: $body-bg;
            padding: 20px;


            @media screen and (max-width: $screen-xs) {
                .txt-download {
                    margin-bottom: 15px;
                }
            }
        }

        .download-box {
            padding: 0;
            margin: 0;
            background-color: transparent;

            .custom-icons {
                display: block;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        margin: 5px 0;
                    }
                }

                img {
                    vertical-align: middle;
                    width: auto;
                    height: 30px;
                    margin: 0 5px 0;
                }
            }
        }

        a {
            font-size: $text-content;
            line-height: $text-content;
            color: $color-text;

            &:hover {
                color: $color-primary;
            }
        }

        span {
            font-size: $text-content;
            line-height: $height-input;
        }


        @media screen and (max-width: $screen-sm) {
            a {
                font-size: $text-content-mobile;
            }

            span {
                font-size: $text-content-mobile;
                line-height: $text-content-mobile;
            }
        }
    }
    //END news
    .calendar-wrapper {
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 20px;

        .container-left {
            .row {
                margin-right: -2px;
                margin-left: -2px;

                [class*='col-xl'],
                [class*='col-lg'],
                [class*='col-md'],
                [class*='col-sm'],
                [class*='col'] {
                    padding-right: 2px;
                    padding-left: 2px;
                }
            }
        }

        .title-box {
            position: relative;
            width: 100%;
            /*min-height: 380px;*/
            height: auto;
            background-color: $color-white;

            .caption-outer {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .caption-table {
                display: table;
                width: 100%;
                height: 100%;
                text-align: center;
            }


            .caption {
                height: 100%;
            }

            h3 {
                font-size: $text-x-large;
                line-height: $text-x-large;
                color: $color-secondary;
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                margin-bottom: 4px;
            }
        }

        .event {
            border-bottom: 4px solid $color-white;
        }

        .date-title {
            display: block;
            padding: 50px 20px;
            text-align: center;
            font-size: $text-large;
            line-height: 80px;
            color: $color-white;
            border-bottom: 4px solid $color-white;
            background-color: #00AFF0;
        }

        .month-title {
            display: block;
            padding: 50px 20px;
            text-align: center;
            font-size: $text-x-large;
            line-height: 80px;
            color: $color-white;
            background-color: $color-white;
        }

        .event-count {
            display: block;
            padding: 10px 5px 30px 5px;
            font-family: $font-bold;

            span {
                font-family: $font-bold;
                color: $color-primary;
            }
        }

        @media screen and (max-width: 1199px) {
            .title-box {
                .caption-outer {
                    position: relative;
                }

                h3 {
                    font-size: $text-x-large;
                    line-height: 80px;
                    padding: 50px 20px;
                }

                &.date {
                    background-color: transparent;
                }
            }

            .day-title {
                border: 0;
            }
        }

        @media screen and (max-width: 999px) {
            .title-box {

                h3 {
                    font-size: $text-small;
                    line-height: $text-small;
                    padding: 20px;
                }

                &.date {
                    background-color: transparent;
                }
            }

            .date-title {
                font-size: $text-large;
                line-height: $text-large;
                padding: 20px;
            }

            .month-title {
                font-size: $text-large;
                line-height: $text-large;
                padding: 20px;
            }
        }
    }

    #calendar {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 auto;

        .fc-header {
            display: none;
        }

        .fc-content {
            margin: 0;
        }

        .fc-widget-header {
            padding: 3px;
            font-size: $text-content;
            line-height: $text-x-small;
            color: $color-primary;
            border: 1px solid #fff;
            border-bottom: 2px solid #00AFF0;
            background-color: #D7EBFF;
        }

        .fc-widget-content {
            padding: 3px;
            color: $color-text;
            border: 1px solid $color-white;
            background: #f8f8f8;

            &.fc-other-month {
                background: #eee;
            }

            &.fc-today {
                background-color: $color-white;
            }
        }

        .fc-state-default, .fc-state-default .fc-button-inner {
            display: inline-block;
            width: auto;
            height: 45px;
            padding: 0;
            margin: 0;
            background-color: transparent;

            .fc-button-content {
                display: block;
                width: 45px;
                height: 45px;
                padding: 0;
                line-height: 45px;
                text-align: center;
                color: $color-white;
                background-color: $color-primary;
            }
        }

        .fc-event {
            background: none;
            font-size: 13px;
            border: 0px;

            .fc-event-inner {
                padding: 5px 10px;

                span {
                    font-size: $text-content;
                    line-height: $text-content;
                }

                ul {
                    margin: 0 0 0 10px;

                    li {
                        list-style: none;
                        position: relative;
                        padding: 2px 0;

                        i {
                            display: block;
                            position: absolute;
                            top: 5px;
                            left: -10px;
                            font-size: 14px;
                        }
                    }
                }
            }

            .fc-event-title {
                a {
                    font-size: $text-content;
                    line-height: $text-content;
                    color: $color-primary;

                    &:hover {
                        color: $color-hover;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    #calendar-picker {
        .ui-widget {
            font-family: $font-normal;
            font-size: $base-fontsize;
            line-height: $text-x-small;
        }

        .ui-widget-header {
            color: $color-primary;
            border: none;
            background: none;
        }

        .ui-widget-content {
            width: 100%;
            padding: 0;
            border: none;
            background: none;
        }

        .ui-corner-all, .ui-corner-bl, .ui-corner-bottom, .ui-corner-left {
            border-radius: 0;
        }

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            border: 1px solid #fff;
            background: none;
            background-color: #f8f8f8;
            color: #444;
            text-align: center;
        }

        .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
            border: 1px solid #fff;
            background: none;
            background-color: #D7EBFF;
            color: $color-primary;
        }

        .ui-datepicker th {
            padding: 0;
            color: $color-primary;
            border: 1px solid #fff;
            background-color: #D7EBFF;

            span {
                display: block;
                padding: 10px 5px;
                width: 100%;
                height: 100%;
                border-bottom: 2px solid #00AFF0;
            }
        }

        .ui-datepicker td {
            padding: 0;

            &.highlight {
                color: $color-secondary;

                .ui-state-default {
                    background-image: url('../../../../Images/icon/icon-conner.png');
                    background-position: left top;
                    background-size: 10px 10px;
                    background-repeat: no-repeat;
                    color: $color-secondary !important;
                }
            }
        }
    }

    .event-list-wrapper {
        display: block;
        width: 100%;
        height: auto;
        padding: 0;

        h3.title {
            height: auto;

            a {
                font-weight: bold;
                @extend .font-kiti;
                @extend .small-kiti;
                color: $color-primary;

                &:hover {
                    color: $color-hover;
                }
            }
        }

        h3.date {
            font-weight: bold;
            @extend .font-kiti;
            @extend .content-kiti;
            height: auto;
        }

        img.img-responsive {
            width: 100%;
            margin-bottom: 10px;
        }

        .date-wrapper {
            padding-left: 25px;
            margin-bottom: 10px;
            background-image: url('../../../../Images/event/icon-date.png');
            background-position: left 0;
            background-repeat: no-repeat;
            background-size: 19px;

            p {
                @extend .font-thm;
                @extend .content-thm;
            }
        }

        .location-wrapper {
            padding-left: 25px;
            margin-bottom: 10px;
            background-image: url('../../../../Images/event/icon-location.png');
            background-position: left 2px;
            background-repeat: no-repeat;
            background-size: 19px;


            p {
                @extend .font-thm;
                @extend .content-thm;


                a {
                    img {
                        height: 26px;
                        line-height: 30px;
                    }
                }
            }
        }

        .organized-wrapper {
            padding-left: 25px;
            margin-bottom: 10px;
            background-image: url('../../../../Images/event/icon-organized.png');
            background-position: left 0;
            background-repeat: no-repeat;
            background-size: 19px;


            p {
                @extend .font-thm;
                @extend .content-thm;
            }
        }

        .description-wrapper {

            .description {
                @extend .font-kiti;
                @extend .content-kiti;
                color: $color-secondary;
            }

            p {
                @extend .font-thm;
                @extend .content-thm;
                font-weight: normal;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 20px;
                border-bottom: 1px solid $color-grey;

                img {
                    max-width: 100%;
                }

                &:nth-child(odd) {
                    background-color: $body-bg;
                }
            }
        }

        @media screen and (max-width: $screen-md) {
            .date-wrapper {
                margin-top: 20px;
            }
        }
    }

    .calendar-content {
        .calendar-desc {

            ul {
                @extend .font-thm;
                @extend .content-thm;
                list-style: square;
                margin: 0;
                margin-bottom: 30px;
                padding-left: 25px;

                li {
                    @extend .font-thm;
                    @extend .content-thm;
                    color: $color-primary;
                    margin: 0;
                    margin-bottom: 5px;

                    p {
                        @extend .font-thm;
                        @extend .content-thm;
                        color: $color-text;
                    }
                }
            }

            .date-wrapper {
                padding-left: 25px;
                margin-bottom: 10px;
                background-image: url('../../../../Images/event/icon-date.png');
                background-position: left 0;
                background-repeat: no-repeat;
                background-size: 19px;

                p {
                    @extend .font-thm;
                    @extend .content-thm;
                }
            }

            .location-wrapper {
                padding-left: 25px;
                margin-bottom: 10px;
                background-image: url('../../../../Images/event/icon-location.png');
                background-position: left 2px;
                background-repeat: no-repeat;
                background-size: 19px;


                p {
                    @extend .font-thm;
                    @extend .content-thm;


                    a {
                        img {
                            height: 26px;
                            line-height: 30px;
                        }
                    }
                }
            }

            .organized-wrapper {
                padding-left: 25px;
                margin-bottom: 10px;
                background-image: url('../../../../Images/event/icon-organized.png');
                background-position: left 0;
                background-repeat: no-repeat;
                background-size: 19px;


                p {
                    @extend .font-thm;
                    @extend .content-thm;
                }
            }

            .description-wrapper {

                .description {
                    @extend .font-kiti;
                    @extend .content-kiti;
                    color: $color-secondary;
                }

                p {
                    @extend .font-thm;
                    @extend .content-thm;
                    font-weight: normal;
                }
            }

            .button {
                margin-bottom: 30px;
            }

            p {
                @extend .font-kiti;
                @extend .content-kiti;
                color: $color-text;

                &.description {
                    @extend .font-kiti;
                    @extend .content-kiti;
                    height: auto;
                    color: $color-secondary;
                }
            }
        }
    }
}
