.mod_tab-content.side-tab > .header {
  float: left; }
  .mod_tab-content.side-tab > .header .btn-2stage {
    display: block; }

.mod_tab-content.side-tab > .content {
  float: left; }

.mod_tab-content > .content .tab-content {
  display: none; }
  .mod_tab-content > .content .tab-content.show {
    display: block; }
