/* ############################################# */
/*         Override Bootstrap Input              */
/* ############################################# */
.form-control {
    height: 40px;
    padding: 0 15px;
    color: $color-hover;
    border: 1px solid $color-white;
    border-radius: 0;

    &.dateinput {
        padding-right: 25px;
        background-image: url('../../../Images/icon/datepicker.png');
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: calc(100% - 10px);
    }

    &::placeholder {
        color: $color-hover;
    }
}

textarea.form-control{
    resize: none;
}

.input-group-prepend {
    margin-right: 0;
}

.input-group-text {
    color: $color-secondary;
    border: none;
    border-radius: 0;
    @include opacity-bg($color-white, 0.7);
}

/* Override Bootstrap Select */
.custom-select {
    height: 40px;
    color: $color-text;
    border: none;
    border-radius: 0;
    background-color: $color-white;
    background-image: url('../../../Images/icon/select-down.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 10px);
    background-size: auto;
}

/*Override Inline Form*/
.form-inline {
    .form-control, .custom-select {
        width: 185px;

        &.control-block {
            width: 100%;
        }
    }
}

.dropup, .dropright, .dropdown, .dropleft {
    margin-bottom: 10px;

    @include media-breakpoint-down(xs) {
    }
}

/*Custom inputput type file*/
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: $base-fontsize;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1rem;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: none;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
}

.inputfile + label svg {
    width: 0.75em;
    height: 0.75em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-6 + label {
    color: $color-text;
}

.inputfile-6 + label {
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: $color-primary;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1rem;
}

.inputfile-6 + label span {
    min-width: 200px;
    min-height: 48px;
    padding-left: 0;
    color: $color-secondary;
    line-height: unset;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    display: block;
    height: 100%;
    color: $color-secondary;
    border: none;
    @include opacity-bg($color-hover, 0.7);
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {

}

@media screen and (max-width: 50em) {
    .inputfile-6 + label{
        width: 100%;
    }

    .inputfile-6 + label strong {
        display: block;
        width: 100%;
        text-align: center;
    }

    .inputfile-6 + label span {
        width: 100%;
        border: none;
        border-top: none;
    }
}