// PSL Kitithada Regular
@font-face {
    font-family: 'Kitithada';
    src: url("../../../../fonts/PSL094pro_0.eot");
    src: url("../../../../fonts/PSL094pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL094pro_0.woff") format("woff"), url("../../../../fonts/PSL094pro_0.ttf") format("truetype"), url("../../../../fonts/PSL094pro_0.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

// PSL Kitithada Bold
@font-face {
    font-family: 'KitithadaBold';
    src: url("../../../../fonts/PSL096pro_0.eot");
    src: url("../../../../fonts/PSL096pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL096pro_0.woff") format("woff"), url("../../../../fonts/PSL096pro_0.ttf") format("truetype"), url("../../../../fonts/PSL096pro_0.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

// Kanit Medium
@font-face {
    font-family: 'kanitmedium';
    src: url("../../../../fonts/kanit-medium.woff") format("woff"), url("../../../../fonts/kanit-medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../../../../fonts/icomoon.eot?ho9c1c');
    src: url('../../../../fonts/icomoon.eot?ho9c1c#iefix') format('embedded-opentype'), url('../../../../fonts/icomoon.ttf?ho9c1c') format('truetype'), url('../../../../fonts/icomoon.woff?ho9c1c') format('woff'), url('../../../../fonts/icomoon.svg?ho9c1c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
    content: "\e900";
    color: #ed1c24;
}
