/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
@font-face {
  font-family: 'Kitithada';
  src: url("../../../../fonts/PSL094pro_0.eot");
  src: url("../../../../fonts/PSL094pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL094pro_0.woff") format("woff"), url("../../../../fonts/PSL094pro_0.ttf") format("truetype"), url("../../../../fonts/PSL094pro_0.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KitithadaBold';
  src: url("../../../../fonts/PSL096pro_0.eot");
  src: url("../../../../fonts/PSL096pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL096pro_0.woff") format("woff"), url("../../../../fonts/PSL096pro_0.ttf") format("truetype"), url("../../../../fonts/PSL096pro_0.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'kanitmedium';
  src: url("../../../../fonts/kanit-medium.woff2") format("woff2"), url("../../../../fonts/kanit-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'THSarabunNew';
  src: url("../../../../fonts/thsarabunnew-webfont.eot");
  src: url("../../../../fonts/thsarabunnew-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'THSarabunNewBold';
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot");
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew_bold-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../../../../fonts/icomoon.eot?ho9c1c");
  src: url("../../../../fonts/icomoon.eot?ho9c1c#iefix") format("embedded-opentype"), url("../../../../fonts/icomoon.ttf?ho9c1c") format("truetype"), url("../../../../fonts/icomoon.woff?ho9c1c") format("woff"), url("../../../../fonts/icomoon.svg?ho9c1c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-right:before {
  content: "\e900";
  color: #ed1c24; }

/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
.font-kiti {
  font-family: "Kitithada";
  font-weight: normal;
  letter-spacing: 0.5px; }

/* will be red only in google chrome */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .font-kiti {
        letter-spacing: 1px;
    }
}*/
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .font-kiti {
      letter-spacing: -0.5px; } } }

.x-large-kiti {
  font-size: 50px;
  line-height: 50px; }
  @media screen and (max-width: 767.98px) {
    .x-large-kiti {
      font-size: 46px;
      line-height: 46px; } }

.small-kiti {
  font-size: 31px;
  line-height: 31px; }
  @media screen and (max-width: 767.98px) {
    .small-kiti {
      font-size: 24px;
      line-height: 24px; } }

.content-kiti {
  font-size: 25px;
  line-height: 25px; }
  @media screen and (max-width: 767.98px) {
    .content-kiti {
      font-size: 20px;
      line-height: 20px; } }

.sub-content-kiti {
  font-size: 22px;
  line-height: 22px; }
  @media screen and (max-width: 767.98px) {
    .sub-content-kiti {
      font-size: 18px;
      line-height: 18px; } }

.font-thm {
  font-family: "Tahoma";
  font-weight: normal;
  letter-spacing: 0; }

.content-thm {
  font-size: 16px;
  line-height: 20px; }
  @media screen and (max-width: 767.98px) {
    .content-thm {
      font-size: 12px;
      line-height: 16px; } }

/* note : for IE8,7 need css3pie helper*/
#calendar-picker .ui-datepicker-next {
  right: 0;
  top: 0; }
  #calendar-picker .ui-datepicker-next .ui-icon {
    background-image: url("../../../../Images/icon/ic-right-primary.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    cursor: pointer; }

#calendar-picker .ui-datepicker-next-hover {
  background: none;
  border: none;
  right: 0;
  top: 0; }
  #calendar-picker .ui-datepicker-next-hover .ui-icon {
    background-image: url("../../../../Images/icon/ic-right-secondary.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    cursor: pointer; }

#calendar-picker .ui-datepicker-prev {
  left: 0;
  top: 0; }
  #calendar-picker .ui-datepicker-prev .ui-icon {
    background-image: url("../../../../Images/icon/ic-left-primary.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    cursor: pointer; }

#calendar-picker .ui-datepicker-prev-hover {
  background: none;
  border: none;
  left: 0;
  top: 0; }
  #calendar-picker .ui-datepicker-prev-hover .ui-icon {
    background-image: url("../../../../Images/icon/ic-left-secondary.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    cursor: pointer; }
