@charset "UTF-8";
/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*$default-font-detail: "THSarabunNew";*/
/*$font-bold-detail: "THSarabunNewBold";*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
@font-face {
  font-family: "Kitithada";
  src: url("../../../../fonts/PSL094pro_0.eot");
  src: url("../../../../fonts/PSL094pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL094pro_0.woff") format("woff"), url("../../../../fonts/PSL094pro_0.ttf") format("truetype"), url("../../../../fonts/PSL094pro_0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KitithadaBold";
  src: url("../../../../fonts/PSL096pro_0.eot");
  src: url("../../../../fonts/PSL096pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL096pro_0.woff") format("woff"), url("../../../../fonts/PSL096pro_0.ttf") format("truetype"), url("../../../../fonts/PSL096pro_0.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "kanitmedium";
  src: url("../../../../fonts/kanit-medium.woff2") format("woff2"), url("../../../../fonts/kanit-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "THSarabunNew";
  src: url("../../../../fonts/thsarabunnew-webfont.eot");
  src: url("../../../../fonts/thsarabunnew-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "THSarabunNewBold";
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot");
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew_bold-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../../../../fonts/icomoon.eot?ho9c1c");
  src: url("../../../../fonts/icomoon.eot?ho9c1c#iefix") format("embedded-opentype"), url("../../../../fonts/icomoon.ttf?ho9c1c") format("truetype"), url("../../../../fonts/icomoon.woff?ho9c1c") format("woff"), url("../../../../fonts/icomoon.svg?ho9c1c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "";
  color: #ed1c24;
}

/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*$default-font-detail: "THSarabunNew";*/
/*$font-bold-detail: "THSarabunNewBold";*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
.font-kiti, #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 .fas, #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 a {
  font-family: "Kitithada";
  font-weight: normal;
  letter-spacing: 0.5px;
}

/* will be red only in google chrome */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .font-kiti {
        letter-spacing: 1px;
    }
}*/
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (-o-min-device-pixel-ratio: 0/1), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .font-kiti, #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 .fas, #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 a {
      letter-spacing: -0.5px;
    }
  }
}
.x-large-kiti {
  font-size: 50px;
  line-height: 50px;
}
@media screen and (max-width: 767.98px) {
  .x-large-kiti {
    font-size: 46px;
    line-height: 46px;
  }
}

.small-kiti {
  font-size: 31px;
  line-height: 31px;
}
@media screen and (max-width: 767.98px) {
  .small-kiti {
    font-size: 24px;
    line-height: 24px;
  }
}

.content-kiti, #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 .fas, #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 a {
  font-size: 25px;
  line-height: 25px;
}
@media screen and (max-width: 767.98px) {
  .content-kiti, #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 .fas, #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 a {
    font-size: 20px;
    line-height: 20px;
  }
}

.sub-content-kiti {
  font-size: 22px;
  line-height: 22px;
}
@media screen and (max-width: 767.98px) {
  .sub-content-kiti {
    font-size: 18px;
    line-height: 18px;
  }
}

.font-thm, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul li p, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul li, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .title-content {
  font-family: "Tahoma";
  font-weight: normal;
  letter-spacing: 0;
}

.content-thm, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul li p, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul li, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .title-content {
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 767.98px) {
  .content-thm, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul li p, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul li, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content, #maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .title-content {
    font-size: 12px;
    line-height: 16px;
  }
}

/* note : for IE8,7 need css3pie helper*/
#maincontainer-wrapper .collaps-editor .collapsible-content .panel {
  margin: 0 auto;
  border: 0;
  border-radius: 0;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item {
  position: relative;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: height 0.35s ease 0s;
  -o-transition: height 0.35s ease 0s;
  transition: height 0.35s ease 0s;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item .question-select {
  color: #2E3092;
  background-color: #D7EBFF;
  border-bottom: 2px solid #00AFF0;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 {
  max-width: 100%;
  margin: 15px 10px;
  color: #2E3092;
  text-transform: capitalize;
  cursor: pointer;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 a {
  font-weight: bold;
  display: block;
  position: relative;
  padding-right: 40px;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 a span.pull-right {
  position: absolute;
  right: 0;
  margin-top: 0;
  margin-right: 0;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 .fas {
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 .fas.fa-angle-up {
  text-indent: -9999px;
  background-image: url("../../../../Images/icon/icon-up-primary.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 .fas.fa-angle-down {
  text-indent: -9999px;
  background-image: url("../../../../Images/icon/icon-down-primary.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
}
@media screen and (max-width: 767.98px) {
  #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 {
    margin: 15px 0;
  }
  #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 a span.pull-right {
    top: 0;
  }
  #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 .fas.fa-angle-up {
    background-position: right 8px;
    background-size: 15px;
  }
  #maincontainer-wrapper .collaps-editor .collapsible-content .corporate-item h3 .fas.fa-angle-down {
    background-position: right 8px;
    background-size: 15px;
  }
}
#maincontainer-wrapper .collaps-editor .collapsible-content .title {
  padding: 0;
  margin: 0;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .content-editor {
  padding: 20px;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .title-content {
  font-weight: bold;
  color: #2E3092;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul {
  list-style: square;
  margin: 0;
}
#maincontainer-wrapper .collaps-editor .collapsible-content .content-editor .content ul li {
  margin: 0;
}