@charset "UTF-8";
/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*$default-font-detail: "THSarabunNew";*/
/*$font-bold-detail: "THSarabunNewBold";*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
@font-face {
  font-family: "Kitithada";
  src: url("../../../../fonts/PSL094pro_0.eot");
  src: url("../../../../fonts/PSL094pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL094pro_0.woff") format("woff"), url("../../../../fonts/PSL094pro_0.ttf") format("truetype"), url("../../../../fonts/PSL094pro_0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KitithadaBold";
  src: url("../../../../fonts/PSL096pro_0.eot");
  src: url("../../../../fonts/PSL096pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL096pro_0.woff") format("woff"), url("../../../../fonts/PSL096pro_0.ttf") format("truetype"), url("../../../../fonts/PSL096pro_0.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "kanitmedium";
  src: url("../../../../fonts/kanit-medium.woff2") format("woff2"), url("../../../../fonts/kanit-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "THSarabunNew";
  src: url("../../../../fonts/thsarabunnew-webfont.eot");
  src: url("../../../../fonts/thsarabunnew-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "THSarabunNewBold";
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot");
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew_bold-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../../../../fonts/icomoon.eot?ho9c1c");
  src: url("../../../../fonts/icomoon.eot?ho9c1c#iefix") format("embedded-opentype"), url("../../../../fonts/icomoon.ttf?ho9c1c") format("truetype"), url("../../../../fonts/icomoon.woff?ho9c1c") format("woff"), url("../../../../fonts/icomoon.svg?ho9c1c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "î¤€";
  color: #ed1c24;
}

/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*$default-font-detail: "THSarabunNew";*/
/*$font-bold-detail: "THSarabunNewBold";*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
.font-kiti {
  font-family: "Kitithada";
  font-weight: normal;
  letter-spacing: 0.5px;
}

/* will be red only in google chrome */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .font-kiti {
        letter-spacing: 1px;
    }
}*/
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (-o-min-device-pixel-ratio: 0/1), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .font-kiti {
      letter-spacing: -0.5px;
    }
  }
}
.x-large-kiti {
  font-size: 50px;
  line-height: 50px;
}
@media screen and (max-width: 767.98px) {
  .x-large-kiti {
    font-size: 46px;
    line-height: 46px;
  }
}

.small-kiti {
  font-size: 31px;
  line-height: 31px;
}
@media screen and (max-width: 767.98px) {
  .small-kiti {
    font-size: 24px;
    line-height: 24px;
  }
}

.content-kiti, #main-wrapper .tab-content-section .dropdown .dropdown-toggle span, #main-wrapper .tab-news-section .dropdown .dropdown-toggle span, #main-wrapper .tab-select-section .dropdown .dropdown-toggle span, #maincontainer-wrapper .tab-content-section .dropdown .dropdown-toggle span, #maincontainer-wrapper .tab-news-section .dropdown .dropdown-toggle span, #maincontainer-wrapper .tab-select-section .dropdown .dropdown-toggle span, #main-wrapper .txt-input, #maincontainer-wrapper .txt-input {
  font-size: 25px;
  line-height: 25px;
}
@media screen and (max-width: 767.98px) {
  .content-kiti, #main-wrapper .tab-content-section .dropdown .dropdown-toggle span, #main-wrapper .tab-news-section .dropdown .dropdown-toggle span, #main-wrapper .tab-select-section .dropdown .dropdown-toggle span, #maincontainer-wrapper .tab-content-section .dropdown .dropdown-toggle span, #maincontainer-wrapper .tab-news-section .dropdown .dropdown-toggle span, #maincontainer-wrapper .tab-select-section .dropdown .dropdown-toggle span, #main-wrapper .txt-input, #maincontainer-wrapper .txt-input {
    font-size: 20px;
    line-height: 20px;
  }
}

.sub-content-kiti {
  font-size: 22px;
  line-height: 22px;
}
@media screen and (max-width: 767.98px) {
  .sub-content-kiti {
    font-size: 18px;
    line-height: 18px;
  }
}

.font-thm {
  font-family: "Tahoma";
  font-weight: normal;
  letter-spacing: 0;
}

.content-thm {
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 767.98px) {
  .content-thm {
    font-size: 12px;
    line-height: 16px;
  }
}

/* note : for IE8,7 need css3pie helper*/
#main-wrapper .txt-input, #maincontainer-wrapper .txt-input {
  outline: none;
  line-height: 41px;
  height: 41px;
  color: #555;
  margin-right: 10px;
  border: none;
  border-radius: 0;
}
#main-wrapper .bg-primary .bootstrap-select .dropdown-toggle, #maincontainer-wrapper .bg-primary .bootstrap-select .dropdown-toggle {
  color: #fff;
  background-color: #2E3092;
  background-image: url(../../../../../Images/icon/icon-down-white.svg);
}
#main-wrapper .bg-grey .bootstrap-select .dropdown-toggle, #maincontainer-wrapper .bg-grey .bootstrap-select .dropdown-toggle {
  background-color: #F7F7F7;
  background-image: url(../../../../../Images/icon/icon-down.svg);
}
#main-wrapper .bg-white .bootstrap-select .dropdown-toggle, #maincontainer-wrapper .bg-white .bootstrap-select .dropdown-toggle {
  background-color: #fff;
  background-image: url(../../../../../Images/icon/icon-down.svg);
}
#main-wrapper .tab-content-section .dropdown .btn, #main-wrapper .tab-news-section .dropdown .btn, #main-wrapper .tab-select-section .dropdown .btn, #maincontainer-wrapper .tab-content-section .dropdown .btn, #maincontainer-wrapper .tab-news-section .dropdown .btn, #maincontainer-wrapper .tab-select-section .dropdown .btn {
  width: 100%;
  color: #fff;
  background-color: #555;
  font-size: 25px;
  line-height: 25px;
  height: 41px;
  outline: none;
  border: none;
  border-radius: 0;
  background-image: url(../../../../Images/icon/icon-down-white.svg);
  background-repeat: no-repeat;
  background-position-y: calc(100% - 15px);
  background-position-x: calc(100% - 15px);
  background-size: 15px 10px;
}
#main-wrapper .tab-content-section .dropdown .btn:focus, #main-wrapper .tab-news-section .dropdown .btn:focus, #main-wrapper .tab-select-section .dropdown .btn:focus, #maincontainer-wrapper .tab-content-section .dropdown .btn:focus, #maincontainer-wrapper .tab-news-section .dropdown .btn:focus, #maincontainer-wrapper .tab-select-section .dropdown .btn:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#main-wrapper .tab-content-section .dropdown .dropdown-toggle:after, #main-wrapper .tab-news-section .dropdown .dropdown-toggle:after, #main-wrapper .tab-select-section .dropdown .dropdown-toggle:after, #maincontainer-wrapper .tab-content-section .dropdown .dropdown-toggle:after, #maincontainer-wrapper .tab-news-section .dropdown .dropdown-toggle:after, #maincontainer-wrapper .tab-select-section .dropdown .dropdown-toggle:after {
  display: none;
}
#main-wrapper .tab-content-section .dropdown .dropdown-toggle span, #main-wrapper .tab-news-section .dropdown .dropdown-toggle span, #main-wrapper .tab-select-section .dropdown .dropdown-toggle span, #maincontainer-wrapper .tab-content-section .dropdown .dropdown-toggle span, #maincontainer-wrapper .tab-news-section .dropdown .dropdown-toggle span, #maincontainer-wrapper .tab-select-section .dropdown .dropdown-toggle span {
  line-height: 25px;
  color: #fff;
  display: inline-block;
  max-width: 90%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  cursor: pointer;
}
#main-wrapper .tab-content-section .dropdown .dropdown-toggle::after, #main-wrapper .tab-news-section .dropdown .dropdown-toggle::after, #main-wrapper .tab-select-section .dropdown .dropdown-toggle::after, #maincontainer-wrapper .tab-content-section .dropdown .dropdown-toggle::after, #maincontainer-wrapper .tab-news-section .dropdown .dropdown-toggle::after, #maincontainer-wrapper .tab-select-section .dropdown .dropdown-toggle::after {
  border: none;
}
#main-wrapper .tab-content-section .dropdown .dropdown-menu, #main-wrapper .tab-news-section .dropdown .dropdown-menu, #main-wrapper .tab-select-section .dropdown .dropdown-menu, #maincontainer-wrapper .tab-content-section .dropdown .dropdown-menu, #maincontainer-wrapper .tab-news-section .dropdown .dropdown-menu, #maincontainer-wrapper .tab-select-section .dropdown .dropdown-menu {
  min-width: calc(100% - 0px);
  padding: 0;
  margin: 0;
  z-index: 9995;
  border-radius: 0;
  background-clip: unset;
}
#main-wrapper .tab-content-section .dropdown .dropdown-menu a, #main-wrapper .tab-news-section .dropdown .dropdown-menu a, #main-wrapper .tab-select-section .dropdown .dropdown-menu a, #maincontainer-wrapper .tab-content-section .dropdown .dropdown-menu a, #maincontainer-wrapper .tab-news-section .dropdown .dropdown-menu a, #maincontainer-wrapper .tab-select-section .dropdown .dropdown-menu a {
  display: block;
  width: 100%;
  padding: 10px;
  clear: both;
  font-weight: 400;
  color: #555;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
#main-wrapper .tab-content-section .dropdown .dropdown-menu a:hover, #main-wrapper .tab-news-section .dropdown .dropdown-menu a:hover, #main-wrapper .tab-select-section .dropdown .dropdown-menu a:hover, #maincontainer-wrapper .tab-content-section .dropdown .dropdown-menu a:hover, #maincontainer-wrapper .tab-news-section .dropdown .dropdown-menu a:hover, #maincontainer-wrapper .tab-select-section .dropdown .dropdown-menu a:hover {
  color: #fff;
  background-color: #2E3092;
}
#main-wrapper .dropdown-menu li.disabled a span.text, #maincontainer-wrapper .dropdown-menu li.disabled a span.text {
  cursor: not-allowed;
}