/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
@font-face {
  font-family: 'Kitithada';
  src: url("../../../../fonts/PSL094pro_0.eot");
  src: url("../../../../fonts/PSL094pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL094pro_0.woff") format("woff"), url("../../../../fonts/PSL094pro_0.ttf") format("truetype"), url("../../../../fonts/PSL094pro_0.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KitithadaBold';
  src: url("../../../../fonts/PSL096pro_0.eot");
  src: url("../../../../fonts/PSL096pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL096pro_0.woff") format("woff"), url("../../../../fonts/PSL096pro_0.ttf") format("truetype"), url("../../../../fonts/PSL096pro_0.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'kanitmedium';
  src: url("../../../../fonts/kanit-medium.woff2") format("woff2"), url("../../../../fonts/kanit-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'THSarabunNew';
  src: url("../../../../fonts/thsarabunnew-webfont.eot");
  src: url("../../../../fonts/thsarabunnew-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'THSarabunNewBold';
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot");
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew_bold-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../../../../fonts/icomoon.eot?ho9c1c");
  src: url("../../../../fonts/icomoon.eot?ho9c1c#iefix") format("embedded-opentype"), url("../../../../fonts/icomoon.ttf?ho9c1c") format("truetype"), url("../../../../fonts/icomoon.woff?ho9c1c") format("woff"), url("../../../../fonts/icomoon.svg?ho9c1c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-right:before {
  content: "\e900";
  color: #ed1c24; }

/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
.font-kiti {
  font-family: "Kitithada";
  font-weight: normal;
  letter-spacing: 0.5px; }

/* will be red only in google chrome */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .font-kiti {
        letter-spacing: 1px;
    }
}*/
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .font-kiti {
      letter-spacing: -0.5px; } } }

.x-large-kiti {
  font-size: 50px;
  line-height: 50px; }
  @media screen and (max-width: 767.98px) {
    .x-large-kiti {
      font-size: 46px;
      line-height: 46px; } }

.small-kiti {
  font-size: 31px;
  line-height: 31px; }
  @media screen and (max-width: 767.98px) {
    .small-kiti {
      font-size: 24px;
      line-height: 24px; } }

.content-kiti {
  font-size: 25px;
  line-height: 25px; }
  @media screen and (max-width: 767.98px) {
    .content-kiti {
      font-size: 20px;
      line-height: 20px; } }

.sub-content-kiti {
  font-size: 22px;
  line-height: 22px; }
  @media screen and (max-width: 767.98px) {
    .sub-content-kiti {
      font-size: 18px;
      line-height: 18px; } }

.font-thm {
  font-family: "Tahoma";
  font-weight: normal;
  letter-spacing: 0; }

.content-thm {
  font-size: 16px;
  line-height: 20px; }
  @media screen and (max-width: 767.98px) {
    .content-thm {
      font-size: 12px;
      line-height: 16px; } }

/* note : for IE8,7 need css3pie helper*/
#maincontainer-wrapper .gallery-wrapper {
  width: 635px; }
  #maincontainer-wrapper .gallery-wrapper.left {
    float: left;
    margin-right: 30px; }
  #maincontainer-wrapper .gallery-wrapper.right {
    float: right;
    margin-left: 30px; }
  #maincontainer-wrapper .gallery-wrapper #carousel.flexslider {
    padding: 0 50px 0 0; }
  #maincontainer-wrapper .gallery-wrapper #carousel img {
    opacity: 0.75; }
  #maincontainer-wrapper .gallery-wrapper #carousel .flex-active-slide img {
    opacity: 1.0; }
  #maincontainer-wrapper .gallery-wrapper #slider {
    margin-bottom: 30px; }
    #maincontainer-wrapper .gallery-wrapper #slider.flexslider {
      text-align: center; }
    #maincontainer-wrapper .gallery-wrapper #slider .flex-direction-nav a {
      opacity: 0; }
    #maincontainer-wrapper .gallery-wrapper #slider img {
      cursor: crosshair; }
    @media screen and (max-width: 767.98px) {
      #maincontainer-wrapper .gallery-wrapper #slider {
        margin-bottom: 10px; } }
  #maincontainer-wrapper .gallery-wrapper #carousel2.flexslider {
    padding: 0 50px 0 0; }
  #maincontainer-wrapper .gallery-wrapper #carousel2 img {
    opacity: 0.75; }
  #maincontainer-wrapper .gallery-wrapper #carousel2 .flex-active-slide img {
    opacity: 1.0; }
  #maincontainer-wrapper .gallery-wrapper #slider2 {
    margin-bottom: 30px; }
    #maincontainer-wrapper .gallery-wrapper #slider2.flexslider {
      text-align: center; }
    #maincontainer-wrapper .gallery-wrapper #slider2 .flex-direction-nav a {
      opacity: 0; }
    #maincontainer-wrapper .gallery-wrapper #slider2 img {
      cursor: crosshair; }
    @media screen and (max-width: 767.98px) {
      #maincontainer-wrapper .gallery-wrapper #slider2 {
        margin-bottom: 10px; } }
  #maincontainer-wrapper .gallery-wrapper .flex-direction-nav {
    list-style: none !important; }
  @media screen and (max-width: 575.98px) {
    #maincontainer-wrapper .gallery-wrapper {
      max-width: unset;
      width: 100%;
      margin: 0 auto !important;
      margin-bottom: 20px !important;
      text-align: center; } }

#maincontainer-wrapper .image-gallery {
  max-width: 100%; }
  #maincontainer-wrapper .image-gallery img {
    max-width: 100%; }
