/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
@font-face {
  font-family: 'Kitithada';
  src: url("../../../../fonts/PSL094pro_0.eot");
  src: url("../../../../fonts/PSL094pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL094pro_0.woff") format("woff"), url("../../../../fonts/PSL094pro_0.ttf") format("truetype"), url("../../../../fonts/PSL094pro_0.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KitithadaBold';
  src: url("../../../../fonts/PSL096pro_0.eot");
  src: url("../../../../fonts/PSL096pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL096pro_0.woff") format("woff"), url("../../../../fonts/PSL096pro_0.ttf") format("truetype"), url("../../../../fonts/PSL096pro_0.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'kanitmedium';
  src: url("../../../../fonts/kanit-medium.woff2") format("woff2"), url("../../../../fonts/kanit-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'THSarabunNew';
  src: url("../../../../fonts/thsarabunnew-webfont.eot");
  src: url("../../../../fonts/thsarabunnew-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'THSarabunNewBold';
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot");
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew_bold-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../../../../fonts/icomoon.eot?ho9c1c");
  src: url("../../../../fonts/icomoon.eot?ho9c1c#iefix") format("embedded-opentype"), url("../../../../fonts/icomoon.ttf?ho9c1c") format("truetype"), url("../../../../fonts/icomoon.woff?ho9c1c") format("woff"), url("../../../../fonts/icomoon.svg?ho9c1c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-right:before {
  content: "\e900";
  color: #ed1c24; }

/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
.font-kiti, #maincontainer-wrapper .intro .intro-content .content .title, #maincontainer-wrapper .intro .intro-content .content .subtitle, #maincontainer-wrapper .intro .intro-content .content .description, #main-intro .intro .content .title, #main-intro .intro .content .subtitle, #main-intro .intro .content .description {
  font-family: "Kitithada";
  font-weight: normal;
  letter-spacing: 0.5px; }

/* will be red only in google chrome */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .font-kiti {
        letter-spacing: 1px;
    }
}*/
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .font-kiti, #maincontainer-wrapper .intro .intro-content .content .title, #maincontainer-wrapper .intro .intro-content .content .subtitle, #maincontainer-wrapper .intro .intro-content .content .description, #main-intro .intro .content .title, #main-intro .intro .content .subtitle, #main-intro .intro .content .description {
      letter-spacing: -0.5px; } } }

.x-large-kiti, #maincontainer-wrapper .intro .intro-content .content .title, #maincontainer-wrapper .intro .intro-content .content .subtitle, #main-intro .intro .content .title, #main-intro .intro .content .subtitle {
  font-size: 50px;
  line-height: 50px; }
  @media screen and (max-width: 767.98px) {
    .x-large-kiti, #maincontainer-wrapper .intro .intro-content .content .title, #maincontainer-wrapper .intro .intro-content .content .subtitle, #main-intro .intro .content .title, #main-intro .intro .content .subtitle {
      font-size: 46px;
      line-height: 46px; } }

.small-kiti, #maincontainer-wrapper .intro .intro-content .content .description, #main-intro .intro .content .description {
  font-size: 31px;
  line-height: 31px; }
  @media screen and (max-width: 767.98px) {
    .small-kiti, #maincontainer-wrapper .intro .intro-content .content .description, #main-intro .intro .content .description {
      font-size: 24px;
      line-height: 24px; } }

.content-kiti {
  font-size: 25px;
  line-height: 25px; }
  @media screen and (max-width: 767.98px) {
    .content-kiti {
      font-size: 20px;
      line-height: 20px; } }

.sub-content-kiti {
  font-size: 22px;
  line-height: 22px; }
  @media screen and (max-width: 767.98px) {
    .sub-content-kiti {
      font-size: 18px;
      line-height: 18px; } }

.font-thm {
  font-family: "Tahoma";
  font-weight: normal;
  letter-spacing: 0; }

.content-thm {
  font-size: 16px;
  line-height: 20px; }
  @media screen and (max-width: 767.98px) {
    .content-thm {
      font-size: 12px;
      line-height: 16px; } }

/* note : for IE8,7 need css3pie helper*/
#maincontainer-wrapper .desktop-show {
  display: block;
  opacity: 1;
  visibility: visible; }

#maincontainer-wrapper .mobile-show {
  display: none !important;
  opacity: 0;
  visibility: hidden; }

@media screen and (max-width: 991.98px) {
  #maincontainer-wrapper .desktop-show {
    display: none;
    opacity: 0;
    visibility: hidden; }
  #maincontainer-wrapper .mobile-show {
    display: block !important;
    opacity: 1;
    visibility: visible; } }

@media screen and (max-width: 767.98px) {
  #maincontainer-wrapper .paading-top-mobile {
    padding-top: 10px; } }

#maincontainer-wrapper .intro {
  display: table;
  width: 100%; }
  #maincontainer-wrapper .intro .intro-content {
    position: relative; }
    #maincontainer-wrapper .intro .intro-content .desktop-show {
      display: block;
      width: 100%;
      opacity: 1;
      visibility: visible; }
    #maincontainer-wrapper .intro .intro-content .mobile-show {
      display: none !important;
      width: 100%;
      opacity: 0;
      visibility: hidden; }
    #maincontainer-wrapper .intro .intro-content .logo {
      margin: 50px 0 150px 0; }
      #maincontainer-wrapper .intro .intro-content .logo img {
        width: 285px; }
    #maincontainer-wrapper .intro .intro-content .content img {
      max-width: 100%; }
    #maincontainer-wrapper .intro .intro-content .content .title {
      font-weight: bold !important;
      font-weight: bold;
      color: #2E3092;
      margin: 0 !important; }
    #maincontainer-wrapper .intro .intro-content .content .subtitle {
      font-weight: bold;
      font-weight: bold;
      color: #EC0E17;
      margin: 10px !important; }
    #maincontainer-wrapper .intro .intro-content .content .description {
      color: #fff;
      margin: 0 !important; }
    #maincontainer-wrapper .intro .intro-content .btn-group {
      margin-top: 70px; }
  #maincontainer-wrapper .intro .initial-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    #maincontainer-wrapper .intro .initial-wrapper h3 {
      color: #fff; }
    #maincontainer-wrapper .intro .initial-wrapper p {
      font-size: 25px;
      color: #555; }
  #maincontainer-wrapper .intro .table {
    display: table;
    width: 100%;
    height: 100%;
    padding: 10px; }
    #maincontainer-wrapper .intro .table .cell {
      display: table-cell; }
  @media screen and (max-width: 767.98px) {
    #maincontainer-wrapper .intro .intro-content .desktop-show {
      display: none;
      opacity: 0;
      visibility: hidden; }
    #maincontainer-wrapper .intro .intro-content .mobile-show {
      display: block !important;
      opacity: 1;
      visibility: visible; }
    #maincontainer-wrapper .intro .intro-content .logo {
      margin-top: 10px; }
      #maincontainer-wrapper .intro .intro-content .logo img {
        width: 200px; }
    #maincontainer-wrapper .intro .intro-content .content .title {
      font-size: 40px !important;
      line-height: 40px !important;
      font-weight: bold;
      color: #2E3092;
      margin: 0 !important; }
    #maincontainer-wrapper .intro .intro-content .content .subtitle {
      font-size: 32px !important;
      line-height: 32px !important;
      font-weight: bold;
      color: #EC0E17;
      margin: 0px !important; }
    #maincontainer-wrapper .intro .intro-content .content .description {
      font-size: 22px !important;
      line-height: 22px !important;
      color: #fff;
      margin: 0 !important; }
    #maincontainer-wrapper .intro .intro-content .btn-group {
      margin-top: 15px; } }

#maincontainer-wrapper .img img {
  margin-bottom: 15px; }

#maincontainer-wrapper .img .border {
  border: 0 !important;
  border-bottom: 5px solid #EC0E17 !important;
  outline: none; }

#maincontainer-wrapper .img .noborder {
  border-bottom: 5px solid #EC0E17;
  outline: none; }

#maincontainer-wrapper .img .board {
  background-color: #fff; }

#maincontainer-wrapper .img .img-width {
  width: 100%; }

#maincontainer-wrapper .item-news {
  background-color: #fff;
  border: 0 !important;
  border-top: 5px solid #EC0E17 !important;
  outline: none;
  padding: 10px; }
  #maincontainer-wrapper .item-news .txt-date {
    font-size: 34px;
    line-height: 34px;
    color: #EC0E17;
    margin: 0;
    padding: 15px 0; }
  #maincontainer-wrapper .item-news .txt-desc {
    font-size: 25px;
    line-height: 25px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    padding-bottom: 15px; }

#main-intro {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; }
  #main-intro .intro {
    width: 1140px;
    margin: 0 auto;
    height: 100%;
    position: relative; }
    #main-intro .intro .intro-content {
      display: table;
      width: 100%;
      height: 100%; }
      #main-intro .intro .intro-content .table {
        display: table-row;
        width: 100%;
        height: 100%; }
        #main-intro .intro .intro-content .table .cell {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          padding: 50px 0; }
    #main-intro .intro .content {
      margin-bottom: 20px; }
      #main-intro .intro .content img {
        max-width: 100%; }
      #main-intro .intro .content .title {
        font-weight: bold !important;
        font-weight: bold;
        color: #2E3092;
        margin: 0 !important; }
      #main-intro .intro .content .subtitle {
        font-weight: bold;
        font-weight: bold;
        color: #EC0E17;
        margin: 10px !important; }
      #main-intro .intro .content .description {
        color: #fff;
        margin: 0 !important; }
    #main-intro .intro .btn-group {
      text-align: center; }
      #main-intro .intro .btn-group .button {
        display: inline-block;
        width: auto;
        height: auto;
        margin: 0 10px;
        margin-bottom: 10px; }
  @media screen and (max-width: 1140px) {
    #main-intro .intro {
      width: 100%;
      padding: 0 10px; } }
  @media screen and (max-width: 767.98px) {
    #main-intro .intro {
      height: inherit;
      padding: 0 20px; }
      #main-intro .intro .content .title {
        font-size: 40px !important;
        line-height: 40px !important;
        font-weight: bold;
        color: #2E3092;
        margin: 0 !important; }
      #main-intro .intro .content .subtitle {
        font-size: 32px !important;
        line-height: 32px !important;
        font-weight: bold;
        color: #EC0E17;
        margin: 0px !important; }
      #main-intro .intro .content .description {
        font-size: 22px !important;
        line-height: 22px !important;
        color: #fff;
        margin: 0 !important; } }

.list-content {
  max-height: 300px;
  padding-bottom: 29px;
  overflow: hidden; }
