@charset "UTF-8";
/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*$default-font-detail: "THSarabunNew";*/
/*$font-bold-detail: "THSarabunNewBold";*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
@font-face {
  font-family: "Kitithada";
  src: url("../../../../fonts/PSL094pro_0.eot");
  src: url("../../../../fonts/PSL094pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL094pro_0.woff") format("woff"), url("../../../../fonts/PSL094pro_0.ttf") format("truetype"), url("../../../../fonts/PSL094pro_0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KitithadaBold";
  src: url("../../../../fonts/PSL096pro_0.eot");
  src: url("../../../../fonts/PSL096pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL096pro_0.woff") format("woff"), url("../../../../fonts/PSL096pro_0.ttf") format("truetype"), url("../../../../fonts/PSL096pro_0.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "kanitmedium";
  src: url("../../../../fonts/kanit-medium.woff2") format("woff2"), url("../../../../fonts/kanit-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "THSarabunNew";
  src: url("../../../../fonts/thsarabunnew-webfont.eot");
  src: url("../../../../fonts/thsarabunnew-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "THSarabunNewBold";
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot");
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew_bold-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../../../../fonts/icomoon.eot?ho9c1c");
  src: url("../../../../fonts/icomoon.eot?ho9c1c#iefix") format("embedded-opentype"), url("../../../../fonts/icomoon.ttf?ho9c1c") format("truetype"), url("../../../../fonts/icomoon.woff?ho9c1c") format("woff"), url("../../../../fonts/icomoon.svg?ho9c1c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "î¤€";
  color: #ed1c24;
}

/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*$default-font-detail: "THSarabunNew";*/
/*$font-bold-detail: "THSarabunNewBold";*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
.font-kiti {
  font-family: "Kitithada";
  font-weight: normal;
  letter-spacing: 0.5px;
}

/* will be red only in google chrome */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .font-kiti {
        letter-spacing: 1px;
    }
}*/
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (-o-min-device-pixel-ratio: 0/1), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .font-kiti {
      letter-spacing: -0.5px;
    }
  }
}
.x-large-kiti {
  font-size: 50px;
  line-height: 50px;
}
@media screen and (max-width: 767.98px) {
  .x-large-kiti {
    font-size: 46px;
    line-height: 46px;
  }
}

.small-kiti {
  font-size: 31px;
  line-height: 31px;
}
@media screen and (max-width: 767.98px) {
  .small-kiti {
    font-size: 24px;
    line-height: 24px;
  }
}

.content-kiti {
  font-size: 25px;
  line-height: 25px;
}
@media screen and (max-width: 767.98px) {
  .content-kiti {
    font-size: 20px;
    line-height: 20px;
  }
}

.sub-content-kiti {
  font-size: 22px;
  line-height: 22px;
}
@media screen and (max-width: 767.98px) {
  .sub-content-kiti {
    font-size: 18px;
    line-height: 18px;
  }
}

.font-thm {
  font-family: "Tahoma";
  font-weight: normal;
  letter-spacing: 0;
}

.content-thm {
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 767.98px) {
  .content-thm {
    font-size: 12px;
    line-height: 16px;
  }
}

/* note : for IE8,7 need css3pie helper*/
#maincontainer-wrapper #regist-head .button {
  font-size: 22px;
  line-height: 28px;
}
#maincontainer-wrapper #regist-head .button .fa {
  position: absolute;
  font-size: 26px;
  line-height: 43px;
}
#maincontainer-wrapper #regist-head .button .fas {
  width: 15px;
  height: 18px;
  font-size: 25px;
  line-height: 10px;
  color: #fff;
}
#maincontainer-wrapper #regist-head .button .fa-angle-up {
  text-indent: -9999px;
  background-image: url(../../../../Images/icon/icon-up-secondary.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
#maincontainer-wrapper #regist-head .button .fa-angle-down {
  text-indent: -9999px;
  background-image: url(../../../../Images/icon/icon-down-secondary.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
#maincontainer-wrapper #regist-content-box .regist-content {
  background-color: #F7F7F7;
}
#maincontainer-wrapper form .select-icon {
  width: 45px;
  height: auto;
}
#maincontainer-wrapper form .member-photo {
  color: #555;
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url(../../../../Images/icon/regist/ic-photo.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper form .member-data {
  color: #555;
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url(../../../../Images/icon/regist/ic-member.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper form .member-address {
  color: #555;
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url(../../../../Images/icon/regist/ic-location.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper form .member-contact {
  color: #555;
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url(../../../../Images/icon/regist/ic-contact.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper form .member-edu {
  color: #555;
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url(../../../../Images/icon/regist/ic-edu.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper form .member-language {
  color: #555;
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url(../../../../Images/icon/regist/ic-language.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper form .member-com {
  color: #555;
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url(../../../../Images/icon/regist/ic-com.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper form .member-work {
  color: #555;
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url(../../../../Images/icon/regist/ic-work.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper form .member-work {
  color: #555;
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url(../../../../Images/icon/regist/ic-work.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 20px;
}
#maincontainer-wrapper form .action {
  position: absolute;
  width: 41px;
  height: 41px;
  line-height: 41px;
  color: #555;
  font-size: 34px;
  text-align: center;
  background-color: #F7F7F7;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  #maincontainer-wrapper form .action {
    font-size: 22px;
  }
}
#maincontainer-wrapper form .action-txt {
  margin-left: 50px;
  line-height: 41px;
}
#maincontainer-wrapper form .upload {
  /*margin: 15px 0 30px 0;*/
}
#maincontainer-wrapper form .upload .file-upload {
  background-color: #F7F7F7;
  padding: 10px;
}
@media screen and (max-width: 575.98px) {
  #maincontainer-wrapper form .upload .file-upload .txt-upload {
    margin-bottom: 15px;
  }
}
#maincontainer-wrapper form .upload a {
  font-size: 25px;
  line-height: 25px;
  color: #fff;
}
#maincontainer-wrapper form .upload a:hover {
  color: #fff;
}
#maincontainer-wrapper form .upload span {
  font-size: 25px;
  line-height: 41px;
}
@media screen and (max-width: 767.98px) {
  #maincontainer-wrapper form .upload a {
    font-size: 20px;
  }
  #maincontainer-wrapper form .upload span {
    font-size: 20px;
    line-height: 20px;
  }
}

.captcha-contact-form br {
  display: block !important;
}
.captcha-contact-form img {
  width: auto !important;
  padding: 10px 0;
}
.captcha-contact-form .captcha p {
  padding-bottom: 15px;
}
.captcha-contact-form .slc-custom input {
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.captcha-contact-form .text-error {
  display: none;
}

.captcha-contact-form-white br {
  display: block !important;
}
.captcha-contact-form-white p {
  color: #fff;
}
.captcha-contact-form-white img {
  width: auto !important;
  padding: 10px 0;
}
.captcha-contact-form-white .captcha p {
  color: #fff;
  padding-bottom: 15px;
}
.captcha-contact-form-white .slc-custom input {
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.captcha-contact-form-white .text-error {
  display: none;
}

.register-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
.register-wrapper .txt {
  font-family: "KitithadaBold";
}
.register-wrapper .list-step-register {
  margin-top: 30px;
}
.register-wrapper .list-step-register ul {
  margin: 0;
  padding: 0;
}
.register-wrapper .list-step-register ul li {
  list-style: none;
  width: 33.3333%;
  float: left;
}
.register-wrapper .list-step-register ul li .name-step-wrapper .name-step {
  font-family: "KitithadaBold";
  font-size: 22px;
  line-height: 22px;
  color: #cccccc;
  float: left;
  padding-left: 0px;
  padding-top: 4px;
}
.register-wrapper .list-step-register ul li .name-step-wrapper .percent-step {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #6F90C8;
  float: right;
  visibility: hidden;
  position: relative;
  right: 5px;
}
.register-wrapper .list-step-register ul li .name-step-wrapper .percent-step .num {
  font-family: "Kitithada";
  font-size: 16px !important;
  line-height: 16px !important;
  color: #444444;
}
.register-wrapper .list-step-register ul li .name-step-wrapper .percent-step .success {
  font-family: "Kitithada";
  font-size: 16px !important;
  line-height: 16px !important;
  color: #00AFF0;
}
.register-wrapper .list-step-register ul li .name-step-wrapper .percent-step .success i {
  padding-top: 7px;
}
.register-wrapper .list-step-register ul li .line-step {
  position: relative;
  border-bottom: 2px solid #cccccc;
  margin-top: 10px;
}
.register-wrapper .list-step-register ul li .line-step span {
  position: absolute;
  left: 0;
  top: -7px;
  background-color: #cccccc;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.register-wrapper .list-step-register ul li.active .name-step-wrapper .name-step {
  color: #2E3092;
}
.register-wrapper .list-step-register ul li.active .name-step-wrapper .percent-step {
  visibility: visible;
}
.register-wrapper .list-step-register ul li.active .line-step {
  border-bottom: 2px solid #00AFF0;
}
.register-wrapper .list-step-register ul li.active .line-step span {
  background-color: #00AFF0;
}
.register-wrapper .head-icon-form {
  text-align: center;
  margin: 40px 0 0;
}
.register-wrapper .slc-custom {
  position: relative;
}
.register-wrapper .slc-custom.slc-custom-radio {
  padding-left: 40px;
}
.register-wrapper .slc-custom label {
  position: absolute;
  left: 0;
}
.register-wrapper .slc-custom span {
  line-height: 28px !important;
  position: relative;
  top: 5px;
}

.type-register {
  margin: 40px 0;
}
.type-register .general {
  margin-right: 15px;
}
.type-register .general .icon-type {
  background-image: url("../../../../Images/icon/regist/icon-general.svg");
}
.type-register .corporate {
  margin-left: 15px;
}
.type-register .corporate .icon-type {
  background-image: url("../../../../Images/icon/regist/icon-corporate.svg");
}
.type-register .box {
  padding: 0 15px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  border-bottom: 2px solid #EEEEEE;
}
.type-register .box .icon-type {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
}
.type-register .box .name-type {
  display: inline-block;
  vertical-align: middle;
}
.type-register .box .name-type .icon-check {
  background-image: url("../../../../Images/icon/ic-radio-select-none.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.type-register .box .name-type .text {
  font-family: "Kitithada";
  font-size: 34px;
  line-height: 34px;
  color: #777777;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}
.type-register .box.active {
  background-color: #F8F8F8;
  border-bottom: 2px solid #2E3092;
}
.type-register .box.active .name-type .icon-check {
  background-image: url("../../../../Images/icon/ic-radio-select.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.type-register .box.active .name-type .text {
  font-family: "Kitithada";
  font-size: 34px;
  line-height: 34px;
  color: #2E3092;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.form-register .txt {
  font-size: 25px;
  line-height: 41px;
}
.form-register .click-action {
  cursor: pointer;
}
.form-register .icon-form-wrapper {
  text-align: center;
  margin: 0 0 15px 0;
  /*.icon-images.center {
      margin: 0 auto 10px;
  }*/
  /* .custom-radio {
       label {
           float: none;
           margin: auto;
       }

       span {
           text-align: center;
           float: none;
           max-width: unset;
           margin-top: 10px;
       }
   }*/
}
.form-register .icon-form-wrapper .icon-images {
  opacity: 0.5;
  margin-bottom: 10px;
  /*width: 64px;
  height: 73px;*/
  width: 39px;
  height: 55px;
}
.form-register .icon-form-wrapper .selector.no-border input {
  height: 25px;
  background-color: #ffffff;
  border: none;
}
.form-register .icon-form-wrapper .selector.no-border .require {
  top: 5px;
}
.form-register .icon-form-wrapper.active {
  /*.custom-radio {
      label {
          float: none;
          margin: auto;
      }

      span {
          text-align: center;
          float: none;
          max-width: unset;
          margin-top: 10px;
          color: $color-primary;
      }
  }*/
}
.form-register .icon-form-wrapper.active .icon-images {
  opacity: 1;
}

@media screen and (max-width: 999px) {
  .login-section {
    position: relative;
    bottom: unset !important;
    padding: 15px 0;
    background-color: #fff;
  }
  .login-section .nav-tabs {
    display: none;
  }
  .login-section .dropdown {
    display: block;
  }
}