@charset "UTF-8";
/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*$default-font-detail: "THSarabunNew";*/
/*$font-bold-detail: "THSarabunNewBold";*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
@font-face {
  font-family: "Kitithada";
  src: url("../../../../fonts/PSL094pro_0.eot");
  src: url("../../../../fonts/PSL094pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL094pro_0.woff") format("woff"), url("../../../../fonts/PSL094pro_0.ttf") format("truetype"), url("../../../../fonts/PSL094pro_0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KitithadaBold";
  src: url("../../../../fonts/PSL096pro_0.eot");
  src: url("../../../../fonts/PSL096pro_0.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/PSL096pro_0.woff") format("woff"), url("../../../../fonts/PSL096pro_0.ttf") format("truetype"), url("../../../../fonts/PSL096pro_0.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "kanitmedium";
  src: url("../../../../fonts/kanit-medium.woff2") format("woff2"), url("../../../../fonts/kanit-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "THSarabunNew";
  src: url("../../../../fonts/thsarabunnew-webfont.eot");
  src: url("../../../../fonts/thsarabunnew-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "THSarabunNewBold";
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot");
  src: url("../../../../fonts/thsarabunnew_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/thsarabunnew_bold-webfont.woff") format("woff"), url("../../../../fonts/thsarabunnew_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../../../../fonts/icomoon.eot?ho9c1c");
  src: url("../../../../fonts/icomoon.eot?ho9c1c#iefix") format("embedded-opentype"), url("../../../../fonts/icomoon.ttf?ho9c1c") format("truetype"), url("../../../../fonts/icomoon.woff?ho9c1c") format("woff"), url("../../../../fonts/icomoon.svg?ho9c1c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "";
  color: #ed1c24;
}

/* set global config vars */
/* defualt page width setting(PC) */
/* off canvas menu width *eg. 70px or 70% */
/* main slide margin top */
/* header height */
/* footer height */
/* global body setting */
/* default font family */
/*$default-font-detail: "THSarabunNew";*/
/*$font-bold-detail: "THSarabunNewBold";*/
/* text sizing multiplier */
/* text sizing */
/* default theme color */
/* special theme */
/* insert special theme for this website */
/* text sizing */
/* footer sizing */
/*media screen*/
/*mobile*/
.font-kiti {
  font-family: "Kitithada";
  font-weight: normal;
  letter-spacing: 0.5px;
}

/* will be red only in google chrome */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .font-kiti {
        letter-spacing: 1px;
    }
}*/
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (-o-min-device-pixel-ratio: 0/1), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .font-kiti {
      letter-spacing: -0.5px;
    }
  }
}
.x-large-kiti {
  font-size: 50px;
  line-height: 50px;
}
@media screen and (max-width: 767.98px) {
  .x-large-kiti {
    font-size: 46px;
    line-height: 46px;
  }
}

.small-kiti {
  font-size: 31px;
  line-height: 31px;
}
@media screen and (max-width: 767.98px) {
  .small-kiti {
    font-size: 24px;
    line-height: 24px;
  }
}

.content-kiti {
  font-size: 25px;
  line-height: 25px;
}
@media screen and (max-width: 767.98px) {
  .content-kiti {
    font-size: 20px;
    line-height: 20px;
  }
}

.sub-content-kiti {
  font-size: 22px;
  line-height: 22px;
}
@media screen and (max-width: 767.98px) {
  .sub-content-kiti {
    font-size: 18px;
    line-height: 18px;
  }
}

.font-thm, #main-wrapper .table-scroll .table tbody .bg-content th, #main-wrapper .table-scroll .table tbody .bg-content td, #maincontainer-wrapper .table-scroll .table tbody .bg-content th, #maincontainer-wrapper .table-scroll .table tbody .bg-content td, #main-wrapper .table-scroll .table tbody .content th, #maincontainer-wrapper .table-scroll .table tbody .content th, #main-wrapper .table-scroll .table tbody tr th, #maincontainer-wrapper .table-scroll .table tbody tr th, #main-wrapper .table-scroll .table tbody tr td, #maincontainer-wrapper .table-scroll .table tbody tr td, #main-wrapper .table-scroll .table thead tr th, #maincontainer-wrapper .table-scroll .table thead tr th, #main-wrapper .mobile tr td a, #maincontainer-wrapper .mobile tr td a, #main-wrapper .mobile tr td, #maincontainer-wrapper .mobile tr td, #main-wrapper .table-div tbody tr td, #maincontainer-wrapper .table-div tbody tr td, #main-wrapper .table-div thead tr th, #maincontainer-wrapper .table-div thead tr th, #main-wrapper .table tbody tr td a, #maincontainer-wrapper .table tbody tr td a, #main-wrapper .table tbody tr td, #maincontainer-wrapper .table tbody tr td, #main-wrapper .table thead tr th, #maincontainer-wrapper .table thead tr th {
  font-family: "Tahoma";
  font-weight: normal;
  letter-spacing: 0;
}

.content-thm, #main-wrapper .table-scroll .table tbody .bg-content th, #main-wrapper .table-scroll .table tbody .bg-content td, #maincontainer-wrapper .table-scroll .table tbody .bg-content th, #maincontainer-wrapper .table-scroll .table tbody .bg-content td, #main-wrapper .table-scroll .table tbody .content th, #maincontainer-wrapper .table-scroll .table tbody .content th, #main-wrapper .table-scroll .table tbody tr th, #maincontainer-wrapper .table-scroll .table tbody tr th, #main-wrapper .table-scroll .table tbody tr td, #maincontainer-wrapper .table-scroll .table tbody tr td, #main-wrapper .table-scroll .table thead tr th, #maincontainer-wrapper .table-scroll .table thead tr th, #main-wrapper .mobile tr td a, #maincontainer-wrapper .mobile tr td a, #main-wrapper .mobile tr td, #maincontainer-wrapper .mobile tr td, #main-wrapper .table-div tbody tr td, #maincontainer-wrapper .table-div tbody tr td, #main-wrapper .table-div thead tr th, #maincontainer-wrapper .table-div thead tr th, #main-wrapper .table tbody tr td a, #maincontainer-wrapper .table tbody tr td a, #main-wrapper .table tbody tr td, #maincontainer-wrapper .table tbody tr td, #main-wrapper .table thead tr th, #maincontainer-wrapper .table thead tr th {
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 767.98px) {
  .content-thm, #main-wrapper .table-scroll .table tbody .bg-content th, #main-wrapper .table-scroll .table tbody .bg-content td, #maincontainer-wrapper .table-scroll .table tbody .bg-content th, #maincontainer-wrapper .table-scroll .table tbody .bg-content td, #main-wrapper .table-scroll .table tbody .content th, #maincontainer-wrapper .table-scroll .table tbody .content th, #main-wrapper .table-scroll .table tbody tr th, #maincontainer-wrapper .table-scroll .table tbody tr th, #main-wrapper .table-scroll .table tbody tr td, #maincontainer-wrapper .table-scroll .table tbody tr td, #main-wrapper .table-scroll .table thead tr th, #maincontainer-wrapper .table-scroll .table thead tr th, #main-wrapper .mobile tr td a, #maincontainer-wrapper .mobile tr td a, #main-wrapper .mobile tr td, #maincontainer-wrapper .mobile tr td, #main-wrapper .table-div tbody tr td, #maincontainer-wrapper .table-div tbody tr td, #main-wrapper .table-div thead tr th, #maincontainer-wrapper .table-div thead tr th, #main-wrapper .table tbody tr td a, #maincontainer-wrapper .table tbody tr td a, #main-wrapper .table tbody tr td, #maincontainer-wrapper .table tbody tr td, #main-wrapper .table thead tr th, #maincontainer-wrapper .table thead tr th {
    font-size: 12px;
    line-height: 16px;
  }
}

/* note : for IE8,7 need css3pie helper*/
#main-wrapper .table, #main-wrapper .table-div, #maincontainer-wrapper .table, #maincontainer-wrapper .table-div {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
@media screen and (max-width: 767.98px) {
  #main-wrapper .table .pst-lefttocen, #maincontainer-wrapper .table .pst-lefttocen {
    text-align: center !important;
  }
}
#main-wrapper .table thead tr, #maincontainer-wrapper .table thead tr {
  border: none;
  border-top: 2px solid #2E3092;
}
#main-wrapper .table thead tr th, #maincontainer-wrapper .table thead tr th {
  font-weight: bold;
  color: #2E3092;
  background-color: #D7EBFF;
  border: none;
  border-right: 1px solid #2E3092;
  border-bottom: 2px solid #00AFF0;
  padding: 15px;
  text-align: center;
}
#main-wrapper .table thead tr .nobord-right, #maincontainer-wrapper .table thead tr .nobord-right {
  border-right: 0;
}
#main-wrapper .table thead .no-bg, #maincontainer-wrapper .table thead .no-bg {
  background-color: transparent !important;
  border: none;
}
#main-wrapper .table thead .half, #maincontainer-wrapper .table thead .half {
  width: 50%;
}
@media screen and (max-width: 991.98px) {
  #main-wrapper .table thead tr .nobord-right-md, #maincontainer-wrapper .table thead tr .nobord-right-md {
    border-right: 0;
  }
}
#main-wrapper .table tbody tr, #maincontainer-wrapper .table tbody tr {
  border: none;
}
#main-wrapper .table tbody tr:nth-child(odd), #maincontainer-wrapper .table tbody tr:nth-child(odd) {
  background-color: #F7F7F7;
  border: none;
}
#main-wrapper .table tbody tr:nth-child(even), #maincontainer-wrapper .table tbody tr:nth-child(even) {
  background-color: #fff;
  border: none;
}
#main-wrapper .table tbody tr td, #maincontainer-wrapper .table tbody tr td {
  color: #555;
  text-align: center;
  border: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#main-wrapper .table tbody tr td .padding-list, #maincontainer-wrapper .table tbody tr td .padding-list {
  padding: 10px 20px;
}
#main-wrapper .table tbody tr td .half, #maincontainer-wrapper .table tbody tr td .half {
  width: 50%;
}
#main-wrapper .table tbody tr td img, #maincontainer-wrapper .table tbody tr td img {
  height: 30px;
  vertical-align: middle;
  border-style: none;
  margin: -5px 0 0 0;
}
@media screen and (max-width: 991.98px) {
  #main-wrapper .table tbody tr td img, #maincontainer-wrapper .table tbody tr td img {
    margin-bottom: 5px;
  }
}
#main-wrapper .table tbody tr td a, #maincontainer-wrapper .table tbody tr td a {
  color: #555;
  height: 25px;
}
#main-wrapper .table tbody tr td a:hover, #maincontainer-wrapper .table tbody tr td a:hover {
  color: #2E3092;
}
#main-wrapper .table tbody tr td:last-child, #maincontainer-wrapper .table tbody tr td:last-child {
  border-right: none !important;
}
#main-wrapper .table tbody tr .nobord-right, #maincontainer-wrapper .table tbody tr .nobord-right {
  border-right: 0;
}
#main-wrapper .table tbody .bg-title, #maincontainer-wrapper .table tbody .bg-title {
  background-color: #E1ECF4 !important;
}
#main-wrapper .table tbody .bg-subtitle, #maincontainer-wrapper .table tbody .bg-subtitle {
  background-color: #eee !important;
}
#main-wrapper .table tbody .bg-odd, #maincontainer-wrapper .table tbody .bg-odd {
  background-color: #F7F7F7 !important;
}
#main-wrapper .table tbody .bg-even, #maincontainer-wrapper .table tbody .bg-even {
  background-color: #fff !important;
}
@media screen and (max-width: 991.98px) {
  #main-wrapper .table tbody tr .nobord-right-md, #maincontainer-wrapper .table tbody tr .nobord-right-md {
    border-right: 0;
  }
}
@media screen and (max-width: 767.98px) {
  #main-wrapper .table-div .pst-lefttocen, #maincontainer-wrapper .table-div .pst-lefttocen {
    text-align: center !important;
  }
}
#main-wrapper .table-div thead tr, #maincontainer-wrapper .table-div thead tr {
  border: none;
  border-top: 1px solid #2E3092;
}
#main-wrapper .table-div thead tr th, #maincontainer-wrapper .table-div thead tr th {
  color: #fff;
  background-color: #2E3092;
  border: none;
  border-right: 1px solid #fff;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
}
#main-wrapper .table-div thead .no-bg, #maincontainer-wrapper .table-div thead .no-bg {
  background-color: transparent !important;
  border: none;
}
#main-wrapper .table-div thead .half, #maincontainer-wrapper .table-div thead .half {
  width: 50%;
}
#main-wrapper .table-div tbody tr, #maincontainer-wrapper .table-div tbody tr {
  border: none;
}
#main-wrapper .table-div tbody tr:nth-child(odd), #maincontainer-wrapper .table-div tbody tr:nth-child(odd) {
  background-color: #fff;
  border: none;
}
#main-wrapper .table-div tbody tr:nth-child(even), #maincontainer-wrapper .table-div tbody tr:nth-child(even) {
  background-color: #F7F7F7;
  border: none;
}
#main-wrapper .table-div tbody tr td, #maincontainer-wrapper .table-div tbody tr td {
  color: #555;
  text-align: center;
  border: none;
  padding: 15px 20px;
}
#main-wrapper .table-div tbody tr td .padding-list, #maincontainer-wrapper .table-div tbody tr td .padding-list {
  padding: 10px 20px;
}
#main-wrapper .table-div tbody tr td .half, #maincontainer-wrapper .table-div tbody tr td .half {
  width: 50%;
}
#main-wrapper .table-div tbody tr td img, #maincontainer-wrapper .table-div tbody tr td img {
  height: 30px;
  vertical-align: middle;
  border-style: none;
  margin: -5px 0 0 0;
}
@media screen and (max-width: 991.98px) {
  #main-wrapper .table-div tbody tr td img, #maincontainer-wrapper .table-div tbody tr td img {
    margin-bottom: 5px;
  }
}
#main-wrapper .table-div tbody tr td a, #maincontainer-wrapper .table-div tbody tr td a {
  color: #555;
  height: 25px;
}
#main-wrapper .table-div tbody tr td a:hover, #maincontainer-wrapper .table-div tbody tr td a:hover {
  color: #2E3092;
}
@media screen and (max-width: 991.98px) {
  #main-wrapper .table-div tbody tr td a, #maincontainer-wrapper .table-div tbody tr td a {
    font-size: 22px;
  }
}
@media screen and (max-width: 767.98px) {
  #main-wrapper .table-div tbody tr td, #maincontainer-wrapper .table-div tbody tr td {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 20px;
  }
}
#main-wrapper .no-border thead tr th, #maincontainer-wrapper .no-border thead tr th {
  border-right: 0 !important;
}
#main-wrapper .no-border tbody tr th, #maincontainer-wrapper .no-border tbody tr th {
  border-right: 0 !important;
}
#main-wrapper .no-border tbody tr td, #maincontainer-wrapper .no-border tbody tr td {
  border-right: 0 !important;
}
#main-wrapper .tab .nav-tabs, #maincontainer-wrapper .tab .nav-tabs {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
#main-wrapper .tab .nav-tabs > li, #maincontainer-wrapper .tab .nav-tabs > li {
  margin-bottom: 0;
  height: 41px;
  background-color: #F7F7F7;
  /*border-left: 1px solid $color-white;*/
}
#main-wrapper .tab .nav-tabs > li .tab, #maincontainer-wrapper .tab .nav-tabs > li .tab {
  color: #555;
  font-size: 25px;
  line-height: 41px;
  height: 41px;
  text-align: center;
  padding: 0 20px;
  margin: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}
#main-wrapper .tab .nav-tabs > li .tab .download, #maincontainer-wrapper .tab .nav-tabs > li .tab .download {
  margin: 0;
}
#main-wrapper .tab .nav-tabs > li .tab .download img, #maincontainer-wrapper .tab .nav-tabs > li .tab .download img {
  height: 25px;
  line-height: 41px;
  vertical-align: middle;
  border-style: none;
  margin: -5px 10px 0 0;
}
#main-wrapper .tab .nav-tabs > li .tab .download a, #maincontainer-wrapper .tab .nav-tabs > li .tab .download a {
  font-size: 25px;
  line-height: 25px;
  color: #555;
}
#main-wrapper .tab .nav-tabs > li .tab .download a:hover, #maincontainer-wrapper .tab .nav-tabs > li .tab .download a:hover {
  color: #2E3092;
}
#main-wrapper .tab .nav-tabs > li .tab .download span, #maincontainer-wrapper .tab .nav-tabs > li .tab .download span {
  font-size: 25px;
  line-height: 25px;
}
@media screen and (max-width: 767.98px) {
  #main-wrapper .tab .nav-tabs > li .tab .download a, #maincontainer-wrapper .tab .nav-tabs > li .tab .download a {
    font-size: 20px;
    line-height: 20px;
  }
  #main-wrapper .tab .nav-tabs > li .tab .download span, #maincontainer-wrapper .tab .nav-tabs > li .tab .download span {
    font-size: 20px;
    line-height: 20px;
  }
}
#main-wrapper .tab .nav-tabs > li .active, #maincontainer-wrapper .tab .nav-tabs > li .active {
  background-color: #00AFF0;
  /*border-left: 1px solid $color-white;*/
}
#main-wrapper .tab .nav-tabs > li .active .download span, #maincontainer-wrapper .tab .nav-tabs > li .active .download span {
  color: #fff;
}
#main-wrapper .tab .nav-tabs .active, #maincontainer-wrapper .tab .nav-tabs .active {
  color: #fff;
  background-color: #2E3092;
  border-left: 1px solid #fff;
}
#main-wrapper .desktop tr, #maincontainer-wrapper .desktop tr {
  border: none;
}
#main-wrapper .desktop tr:nth-child(odd), #maincontainer-wrapper .desktop tr:nth-child(odd) {
  background-color: #F7F7F7 !important;
  border: none;
}
#main-wrapper .desktop tr:nth-child(even), #maincontainer-wrapper .desktop tr:nth-child(even) {
  background-color: #fff !important;
  border: none;
}
#main-wrapper .desktop tr td, #maincontainer-wrapper .desktop tr td {
  border: none;
}
#main-wrapper .mobile tr, #maincontainer-wrapper .mobile tr {
  border: none;
}
#main-wrapper .mobile tr:nth-child(odd), #maincontainer-wrapper .mobile tr:nth-child(odd) {
  background-color: #F7F7F7 !important;
  border: none;
}
#main-wrapper .mobile tr:nth-child(even), #maincontainer-wrapper .mobile tr:nth-child(even) {
  background-color: #fff !important;
  border: none;
}
#main-wrapper .mobile tr td, #maincontainer-wrapper .mobile tr td {
  color: #555;
  text-align: center;
  border: none;
}
#main-wrapper .mobile tr td .half, #maincontainer-wrapper .mobile tr td .half {
  width: 50%;
}
#main-wrapper .mobile tr td img, #maincontainer-wrapper .mobile tr td img {
  height: 30px;
  vertical-align: middle;
  border-style: none;
  margin: -5px 10px 0 0;
}
#main-wrapper .mobile tr td a, #maincontainer-wrapper .mobile tr td a {
  color: #555;
  height: 25px;
}
#main-wrapper .mobile tr td a:hover, #maincontainer-wrapper .mobile tr td a:hover {
  color: #2E3092;
}
@media screen and (max-width: 767.98px) {
  #main-wrapper .mobile .button .btn-med, #maincontainer-wrapper .mobile .button .btn-med {
    font-size: 18px;
    line-height: 34px;
    padding: 5px 15px;
  }
  #main-wrapper .mobile .button .btn-med .fa-angle-right, #maincontainer-wrapper .mobile .button .btn-med .fa-angle-right {
    margin-left: 5px;
  }
  #main-wrapper .mobile .button .btn-med .fas, #maincontainer-wrapper .mobile .button .btn-med .fas {
    line-height: 5px;
  }
}
#main-wrapper .table-scroll, #maincontainer-wrapper .table-scroll {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  /*----- scroll -----*/
  /*----- scroll -----*/
}
#main-wrapper .table-scroll ::-webkit-scrollbar, #maincontainer-wrapper .table-scroll ::-webkit-scrollbar {
  height: 10px;
}
#main-wrapper .table-scroll ::-webkit-scrollbar-track, #maincontainer-wrapper .table-scroll ::-webkit-scrollbar-track {
  background: #fff;
}
#main-wrapper .table-scroll ::-webkit-scrollbar-thumb, #maincontainer-wrapper .table-scroll ::-webkit-scrollbar-thumb {
  background: #555;
}
@media screen and (max-width: 767.98px) {
  #main-wrapper .table-scroll .table .pst-lefttocen, #maincontainer-wrapper .table-scroll .table .pst-lefttocen {
    text-align: center !important;
  }
}
#main-wrapper .table-scroll .table thead tr, #maincontainer-wrapper .table-scroll .table thead tr {
  border: none;
  border-top: 1px solid #2E3092;
}
#main-wrapper .table-scroll .table thead tr th, #maincontainer-wrapper .table-scroll .table thead tr th {
  color: #fff;
  background-color: #2E3092;
  border: none;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 10px 15px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
#main-wrapper .table-scroll .table thead tr .nobord-right, #maincontainer-wrapper .table-scroll .table thead tr .nobord-right {
  border-right: 0;
}
#main-wrapper .table-scroll .table thead .no-bg, #maincontainer-wrapper .table-scroll .table thead .no-bg {
  background-color: transparent !important;
  border: none;
}
#main-wrapper .table-scroll .table thead .half, #maincontainer-wrapper .table-scroll .table thead .half {
  width: 50%;
}
@media screen and (max-width: 991.98px) {
  #main-wrapper .table-scroll .table thead tr .nobord-right-md, #maincontainer-wrapper .table-scroll .table thead tr .nobord-right-md {
    border-right: 0;
  }
}
#main-wrapper .table-scroll .table tbody tr, #maincontainer-wrapper .table-scroll .table tbody tr {
  border: none;
}
#main-wrapper .table-scroll .table tbody tr:nth-child(odd), #maincontainer-wrapper .table-scroll .table tbody tr:nth-child(odd) {
  background-color: #F7F7F7;
  border: none;
}
#main-wrapper .table-scroll .table tbody tr:nth-child(even), #maincontainer-wrapper .table-scroll .table tbody tr:nth-child(even) {
  background-color: #fff;
  border: none;
}
#main-wrapper .table-scroll .table tbody tr td, #maincontainer-wrapper .table-scroll .table tbody tr td {
  color: #555;
  text-align: center;
  border: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  white-space: nowrap;
  vertical-align: middle;
}
#main-wrapper .table-scroll .table tbody tr td .padding-list, #maincontainer-wrapper .table-scroll .table tbody tr td .padding-list {
  padding: 10px 20px;
}
#main-wrapper .table-scroll .table tbody tr td .half, #maincontainer-wrapper .table-scroll .table tbody tr td .half {
  width: 50%;
}
#main-wrapper .table-scroll .table tbody tr td img, #maincontainer-wrapper .table-scroll .table tbody tr td img {
  height: 30px;
  vertical-align: middle;
  border-style: none;
  margin: -5px 0 0 0;
}
@media screen and (max-width: 991.98px) {
  #main-wrapper .table-scroll .table tbody tr td img, #maincontainer-wrapper .table-scroll .table tbody tr td img {
    margin-bottom: 5px;
  }
}
#main-wrapper .table-scroll .table tbody tr td a, #maincontainer-wrapper .table-scroll .table tbody tr td a {
  color: #555;
  height: 25px;
}
#main-wrapper .table-scroll .table tbody tr td a:hover, #maincontainer-wrapper .table-scroll .table tbody tr td a:hover {
  color: #2E3092;
}
@media screen and (max-width: 991.98px) {
  #main-wrapper .table-scroll .table tbody tr td a, #maincontainer-wrapper .table-scroll .table tbody tr td a {
    font-size: 22px;
  }
}
#main-wrapper .table-scroll .table tbody tr th, #maincontainer-wrapper .table-scroll .table tbody tr th {
  padding: 10px 15px;
  color: #2E3092;
  background-color: #D7EBFF;
  border: none;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
}
#main-wrapper .table-scroll .table tbody tr .nobord-right, #maincontainer-wrapper .table-scroll .table tbody tr .nobord-right {
  border-right: 0;
}
#main-wrapper .table-scroll .table tbody .sub-content th, #maincontainer-wrapper .table-scroll .table tbody .sub-content th {
  padding-left: 30px;
}
#main-wrapper .table-scroll .table tbody .sub-content-bold th, #maincontainer-wrapper .table-scroll .table tbody .sub-content-bold th {
  padding-left: 30px;
}
#main-wrapper .table-scroll .table tbody .content th, #maincontainer-wrapper .table-scroll .table tbody .content th {
  padding-left: 45px;
}
#main-wrapper .table-scroll .table tbody .bg-odd, #maincontainer-wrapper .table-scroll .table tbody .bg-odd {
  background-color: #F7F7F7 !important;
}
#main-wrapper .table-scroll .table tbody .bg-even, #maincontainer-wrapper .table-scroll .table tbody .bg-even {
  background-color: #fff !important;
}
#main-wrapper .table-scroll .table tbody .bg-title, #maincontainer-wrapper .table-scroll .table tbody .bg-title {
  border-top: 2px solid #00AFF0 !important;
}
#main-wrapper .table-scroll .table tbody .bg-title th, #main-wrapper .table-scroll .table tbody .bg-title td, #maincontainer-wrapper .table-scroll .table tbody .bg-title th, #maincontainer-wrapper .table-scroll .table tbody .bg-title td {
  background-color: #E1ECF4 !important;
  color: #2E3092;
}
#main-wrapper .table-scroll .table tbody .bg-title .fixed-total, #maincontainer-wrapper .table-scroll .table tbody .bg-title .fixed-total {
  text-align: center;
  padding: 0;
  vertical-align: middle;
}
#main-wrapper .table-scroll .table tbody .bg-content th, #main-wrapper .table-scroll .table tbody .bg-content td, #maincontainer-wrapper .table-scroll .table tbody .bg-content th, #maincontainer-wrapper .table-scroll .table tbody .bg-content td {
  color: #555;
  background-color: #F7F7F7 !important;
}
#main-wrapper .table-scroll .table tbody .color-primary-row th, #main-wrapper .table-scroll .table tbody .color-primary-row td, #maincontainer-wrapper .table-scroll .table tbody .color-primary-row th, #maincontainer-wrapper .table-scroll .table tbody .color-primary-row td {
  color: #2E3092;
}
@media screen and (max-width: 991.98px) {
  #main-wrapper .table-scroll .table tbody tr .nobord-right-md, #maincontainer-wrapper .table-scroll .table tbody tr .nobord-right-md {
    border-right: 0;
  }
}
#main-wrapper .table-scroll tbody th, #maincontainer-wrapper .table-scroll tbody th {
  white-space: nowrap;
  vertical-align: top;
}
#main-wrapper .table-scroll tbody td, #maincontainer-wrapper .table-scroll tbody td {
  white-space: nowrap;
  vertical-align: top;
}
#main-wrapper .table-wrap, #maincontainer-wrapper .table-wrap {
  width: 100%;
  overflow: auto;
}
#main-wrapper .clone, #maincontainer-wrapper .clone {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#main-wrapper .clone th, #maincontainer-wrapper .clone th {
  visibility: hidden;
  /*border-color: transparent !important;*/
}
#main-wrapper .clone td, #maincontainer-wrapper .clone td {
  visibility: hidden;
  border-color: transparent !important;
}
#main-wrapper .clone tbody th, #maincontainer-wrapper .clone tbody th {
  visibility: visible;
  color: red;
}
#main-wrapper .clone tbody th.fixed-side, #maincontainer-wrapper .clone tbody th.fixed-side {
  border-right: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
}
#main-wrapper .clone thead th, #maincontainer-wrapper .clone thead th {
  border-color: transparent !important;
}
#main-wrapper .clone thead th.fixed-side, #maincontainer-wrapper .clone thead th.fixed-side {
  visibility: visible;
  border-right: 1px solid #fff !important;
  border-top: 1px solid #fff !important;
}