.main-slider {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 4px;
}

.slider-container {
    position: relative;
    display: none;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.slider-controller {
    position: absolute;
    width: 100%;
    bottom: 15px;
    z-index: 1;
    text-align: center;

    @include media-breakpoint-down(lg) {
    }
}

#foo_pager {
    width: auto;
    position: absolute;
    bottom: 50px;
    left: auto;
    right: 40px;
    margin: auto;
    text-align: right;

    span.pager_list {
        display: inline-block;
        margin: 0 5px;
        width: 9px;
        height: 9px;
        border-radius: 100%;

        > a {
            display: block;
            width: 9px;
            height: 9px;
            border-radius: 100%;
            @include opacity-bg(#B7A676, 0.7);
        }

        &.selected a {
            background-color: $color-primary;
        }
    }
   
    @media screen and (max-width: 992px) {
        bottom: 15px;
    }

    @media screen and (max-width: 767px) {
        display: none !important;
    }
}

a#foo_prev:link, a#foo_next:link{
  color: #222;
}
a#foo_prev:hover, a#foo_prev:visited, a#foo_next:hover, a#foo_next:visited{
  color: #000;
}
#foo_prev {
    display: inline-block !important;
    vertical-align: top;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-image: url('../../../../Images/icon/icon-mainslide-left.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}
#foo_next {
    display: inline-block !important;
    vertical-align: top;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-image: url('../../../../Images/icon/icon-mainslide-right.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}

#foo_text {
    display: inline-block !important;
    vertical-align: top;
    color: $color-white;

    span {
        font-size: $text-x-small;
        line-height: 45px;
    }
}